<template>
    <div>
        <vs-row vs-justify="center">
            <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="3.9" id="myCard">
                <statistics-card-line icon="UsersIcon" icon-right :statistic="totalmember" statisticTitle="Total Number of members" type='area'>
                    <vs-button color="success" @click="ViewMembers">View Members</vs-button>
                </statistics-card-line>
            </vs-col>

            <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="3.9" id="myCard">
                <statistics-card-line icon="MonitorIcon" icon-right :statistic="numberOfPeople" :statisticTitle="latestAttendance" type='area'>
                    <vs-button color="success" @click="viewAttendance">View Attendance</vs-button>
                </statistics-card-line>
            </vs-col>
            <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="3.9" id="myCard">
                <statistics-card-line icon="InboxIcon" icon-right :statistic="totalAmountForTithes" :statisticTitle="titheMonth" type='area'>
                    <vs-button color="success" @click="viewTithes">View All Tithes</vs-button>
                </statistics-card-line>
            </vs-col>
        </vs-row>
        <div>
            <br>
        </div>
        <vs-row vs-justify="center">
            <vs-card class="cardx">

             <div class="vx-row">
                    <div class="vx-col sm:w-1/3 w-full mb-2">
                    <label><b>Select Year</b></label><br>
                        <v-select :options="years" @change="UpdateChart" class="w-full" v-model="selectedYear" name="Years" />
                    </div>
                    <div class="vx-col sm:w-1/3 w-full mb-6">
                     <label><b>Select Starting Month</b></label><br>
                        <v-select :options="months" @change="UpdateChart"  class="w-full" v-model="MonthStart" name="MonthStart"   />
                    </div>
                     <div class="vx-col sm:w-1/3 w-full mb-6">
                      <label><b>Select Ending Month</b></label><br>
                        <v-select :options="months" @change="UpdateChart"  class="w-full" v-model="MonthEnd" name="MonthEnd"   />
                    </div>
                </div>
                <e-charts autoresize :options="bar" ref="bar" theme="ovilia-green" auto-resize />
            </vs-card>
        </vs-row>

    </div>
</template>

<script>
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'

import ECharts from 'vue-echarts/components/ECharts'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/legend'
import 'echarts/lib/chart/bar'
//import theme from './theme.json'
import vSelect from 'vue-select'

ECharts.registerTheme('ovilia-green')
var dateFormat = require('dateformat');
export default {
    //extends: Line,
    components: {
        StatisticsCardLine,
        ECharts,
        'v-select': vSelect,
        FormatDate: dateFormat
    },
    data() {
        return {
            totalmember: '',
            totalPendingTestimonies: '',
            latestAttendance:'',
            numberOfPeople:'',
            getMonthsTithe: [],
            totalAmountForTithes: '',
            titheMonth: '',
            getChartData:[],
            selectedYear:new Date().getFullYear(),
            months:[
                {id: 1, label: 'January'},
                {id: 2, label: 'February'},
                {id: 3, label: 'March'},
                {id: 4, label: 'April'},
                {id: 5, label: 'May'},
                {id: 6, label: 'June'},
                {id: 7, label: 'July'},
                {id: 8, label: 'August'},
                {id: 9, label: 'September'},
                {id: 10, label: 'October'},
                {id: 11, label: 'November'},
                {id: 12, label: 'December'}
            ],
            years:[
                new Date().getFullYear(),new Date().getFullYear()-1,new Date().getFullYear()-2,new Date().getFullYear()-3
            ],
            MonthStart: {id: 1, label: 'January'},
            MonthEnd: {id: new Date().getMonth()+1, label: new Date().toLocaleString('default', { month: 'long' })},
            bar: {
                legend: {},
                tooltip: {},
                dataset: {
                    // Provide data.
                    source: [
                        ['Weeks', 'Week 1', 'week 2', 'week 3','week 4']
                    ]
                },
                // Declare X axis, which is a category axis, mapping
                // to the first column by default.
                xAxis: {
                    type: 'category'
                },
                // Declare Y axis, which is a value axis.
                yAxis: {},
                // Declare several series, each of them mapped to a
                // column of the dataset by default.
                series: [{
                    type: 'bar'
                }, {
                    type: 'bar'
                }, {
                    type: 'bar'
                },
                 {
                    type: 'bar'
                }]

            },
        }
    },
    methods: {
        UpdateChart(){
            this.getReportSummary();
        },
        GetTotalNumberOfMembers() {
            this.$vs.loading();
            axios.get('/api/totalmembers', auth)
                .then((result) => {
                    this.totalmember = result.data;
                    this.$vs.loading.close();
                }).catch((err) => {
                    this.$toastr.error(err, 'Error!')
                    this.$vs.loading.close();
                });
        },
        GetLatestAttendance() {
            this.$vs.loading();
            axios.get('/api/GetLatestAttendance', auth)
                .then((result) => {
                    this.latestAttendance ="Attendance for "+ dateFormat(result.data.datePresent,'mmm dS, yyyy');
                    console.log("attendance ",  result.data)
                    this.numberOfPeople = result.data.numberOfPeople;
                    this.$vs.loading.close();
                }).catch((err) => {
                    this.$toastr.error(err, 'Error!')
                    this.$vs.loading.close();
                });
        },
        GetTotalSumOfWeeksTithes() {
            //this.totalSumOfWeekTithes = "GHS 90";
            this.$vs.loading();
            axios.get('/api/getTotalSumOfWeeksTithes', auth)
                .then((result) => {
                    this.getMonthsTithe = result.data;
                    this.totalAmountForTithes = " GHS " + result.data.sum;
                    this.titheMonth = "Total Tithes In  " + result.data.month;
                    this.$vs.loading.close();
                }).catch((err) => {
                    this.$toastr.error(err, 'Error!')
                    this.$vs.loading.close();
                });
        },
        ViewMembers() {
            this.$router.push('/viewMember').catch((err) => {
                console.log("Errors ", err)
            })
        },
        viewAttendance() {
            this.$router.push('/addTotalAttendance').catch((err) => {
                console.log("Errors ", err)
            })
        },
        viewTithes() {
            this.$router.push('/viewTithe').catch((err) => {
                console.log("Errors ", err)
            })
        },
        getReportSummary(){
                        this.$vs.loading();
            axios.post('/api/summary',{
                        year: this.selectedYear,
                        startingMonth: this.MonthStart.id,
                        endingMonth :  this.MonthEnd.id
                    }, auth)
                    .then((response) => {

                    this.getChartData = response.data.data;
                     var element = [];
                    console.log("Get Chart Data " , this.getChartData)

                    let chartMatrix = []
                    for(var key in this.getChartData) {

                   //      console.log(`${key} was found`)

                        // console.log('First Week ', this.getChartData[key]['1'])
                        // console.log('Second Week ', this.getChartData[key]['2'])
                        // console.log('Third Week ', this.getChartData[key]['3'])
                        // console.log('Four Week ', this.getChartData[key]['4'])

                        const month = key
                        const firstWeek = this.getChartData[key]['1']
                        const secondWeek = this.getChartData[key]['2']
                        const thirdWeek = this.getChartData[key]['3']
                        const fourthWeek = this.getChartData[key]['4']

                        chartMatrix.push([month, firstWeek, secondWeek, thirdWeek, fourthWeek])

                    }

                     this.bar.dataset.source = chartMatrix
                       this.$vs.loading.close()
                    })
                    .catch((error) => {
                    this.$toastr.error(error, 'Error')
                        this.$vs.loading.close()
                    });
        }
    },
    created() {
        this.GetTotalNumberOfMembers();
        this.GetLatestAttendance();
        this.GetTotalSumOfWeeksTithes();
        this.getReportSummary();
    },
    watch:{
      'selectedYear': function(){
          this.UpdateChart()
      },
      'MonthStart': function(){
           this.UpdateChart()
      },
      'MonthEnd': function(){
           this.UpdateChart()
      }
    }

}
</script>

<style lang="stylus">
#myCard {
    margin-right: 9px;

}
</style>
