<template>

</template>

<script>
export default {
    	data:()=>({
    types:[
        'default',
    ],
    activeLoading:false,
  }),
  mounted(){
      axios.get('/api/user', auth)
            .then( (response) => {
                console.log( "Login " ,response);
                this.$router.push("/");
            })
            .catch( (error)  =>{
                console.log(error);
                this.$router.push("/login");
            });
  }
}
</script>

