<template>
<vs-row vs-justify="center">
       <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="7">
        <vs-card class="cardx" style="margin-right:8px;">
            <div class="vx-col w-full">
                <vs-input class="w-full" v-debounce="GetmemberInformation" label-placeholder="Search Member by Name" debounce-events="input" v-model="name" name="name" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>

                <div class="MemberSearchResult">
                    <span @click="SelectMember(member)" v-for="(member,index) in members" :key="index" class="MemberSearchResultItem">
                        {{ member.id }} {{ member.name }}
                    </span>
                    <p v-if="members.length === 0"> No record found </p>
                </div>

            </div>
        </vs-card>
    </vs-col>
      <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="5">
            <vs-card class="cardx" style="margin-left:8px;">
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-textarea v-model="description" label="Type testimony here" name="description" v-validate="'required'" />
                    <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>
                </div>
            </div>

            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="float-right" @click="AddTestimony">Add Testimony</vs-button>
                </div>
            </div>
        </vs-card>
    </vs-col>
    <view-testimony-component></view-testimony-component>
</vs-row>
</template>

<script>
 import viewTestimony from '../Testimonies/ViewTestimony'
export default {
    components:{
      'view-testimony-component' : viewTestimony
    },
    data() {
        return {
            description: '',
            name: '',
            memberId : '',
            members: []
        }
    },
    methods: {
        ClearControl() {
            this.description = "";
        },
          GetAllTestimonies() {
            axios.get('/api/testimony', auth)
                .then((response) => {
                    this.testimonies = response.data
                       this.$store.commit('GET_ALL_TESTIMONIES', {
                        testimonies: response.data
                    })

                }).catch((err) => {
                    this.$toastr.error(err, 'Error');
                });
        },
        SelectMember(member) {
            this.name = member.name;
            this.memberId = member.id;
            this.phoneNumber = member.phoneNumber;
            this.members = []
        },
        GetmemberInformation(val, e) {
            axios.post('/api/getMemberbyName', {
                    name: this.name
                }, auth)
                .then((response) => {

                    if (response.data.length > 0) {
                        this.members = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                })
        },
        AddTestimony() {
            this.$validator.validateAll().then(result => {
                if (result) {
                     this.$vs.loading();
                    axios.post('/api/testimony', {
                            description: this.description,
                            userId : localStorage.getItem("userId"),
                            memberId : this.memberId
                        }, auth)
                        .then((response) => {
                            if (response.data.status) {
                                this.$toastr.success(response.data.message, 'Created!')
                                this.GetAllTestimonies();
                                this.ClearControl();
                                this.$vs.loading.close();
                            } else {
                                this.$toastr.warning(response.data.message, 'Not Created!')
                                this.$vs.loading.close();
                            }
                        })
                        .catch((error) => {
                           this.$toastr.error(error.message, 'Error')
                           this.$vs.loading.close();
                        });
                } else {
                    // form have errors
                }
            })
        },

    }
}
</script>

<style>
.MemberSearchResult {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.MemberSearchResultItem {
    padding: 0.9em;
    border-bottom: 0.2px solid rgb(221, 220, 220);
    font-size: 13px;
    width: 100%;
    display: block;
}

.MemberSearchResultItem:hover {
    background-color: #7367F0;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
    border-radius: 5px;
}

.MemberSearchResultItem:last-child {
    border-bottom: none;
}
</style>
