<template>
<div>
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="testimonies">
            <template slot="header">
                <h3>
                   Authorized Testimonies
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Id
                </vs-th>
                <vs-th sort-key="description">
                    Testimony
                </vs-th>
                <vs-th sort-key="TestimonyBy">
                    Testimony By
                </vs-th>
                <vs-th sort-key="views">
                    Views
                </vs-th>
                <vs-th sort-key="status">
                    Status
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th sort-key="updated_at">
                    Date Updated
                </vs-th>
                 <vs-th sort-key="updated_at">
                    Action
                </vs-th>

            </template>

            <template slot-scope="{data}">
                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].Id">
                        {{data[indextr].id}}
                    </vs-td>
                    <vs-td :data="data[indextr].description">
                        {{data[indextr].description}}
                    </vs-td>

                    <vs-td :data="data[indextr].member.name">
                        {{data[indextr].member.name}}
                    </vs-td>
                    <vs-td :data="data[indextr].views">
                        {{data[indextr].views}}
                    </vs-td>
                    <vs-td :data="data[indextr].views">
                        {{data[indextr].status}}
                    </vs-td>

                    <vs-td :data="data[indextr].created_at">
                        {{FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td :data="data[indextr].updated_at">
                        {{FormatDate(data[indextr].updated_at, "mmm dS, yyyy")}}
                    </vs-td>
                      <vs-td >
                         <vx-tooltip text="Disapprove">
                                <vs-button color="primary" icon="cancel" @click="DisApproveTestimoy(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</div>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        selected: [],
        testimonies: [],
        SelectedTestimony: {},
        FormatDate: dateFormat,
        description: '',
        views: ''
    }),
    methods: {
            DisApproveTestimoy(testimony) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Disapprove!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    axios.put('/api/testimony/' + testimony.id, {
                            id: testimony.id,
                            description: testimony.description,
                            status: 'PENDING'
                        }, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadTestimonies')
                                swalWithBootstrapButtons.fire(
                                    'Updated!',
                                    response.data.message,
                                    'success'
                                )

                            } else {
                                this.$toastr.warning(response.data.message, 'Update failed!')
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                            this.$toastr.error(error, 'Error!')
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Update cancelled!',
                        'error'
                    )
                }
            })
        },
        GetAllTestimonies() {
            axios.get('/api/getAuthorizedTestimonies', auth)
                .then((response) => {
                    this.testimonies = response.data
                }).catch((err) => {
                    this.$toastr.error(err, 'Error');
                });
        }
    },
    created() {
        this.GetAllTestimonies()
        Fire.$on('reloadTestimonies', () => {
            this.GetAllTestimonies();
        })
    }

}
</script>

<style>
@import '/app-assets/css/bootstrap.css';

.marginClass {
    margin-right: 5px;
}
</style>
