<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="7">
        <vs-card class="cardx" style="margin-right:8px;">
            <div class="vx-col w-full">
                <vs-input class="w-full" v-debounce="GetmemberInformation" label-placeholder="Search Member by Name" debounce-events="input" v-model="name" name="name" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>

                <div class="MemberSearchResult">
                    <span @click="SelectMember(member)" v-for="(member,index) in members" :key="index" class="MemberSearchResultItem">
                        {{ member.id }} {{ member.name }}
                    </span>
                    <p v-if="members.length === 0"> No record found </p>
                </div>

            </div>
        </vs-card>
    </vs-col>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="5">
        <vs-card class="cardx" style="margin-left:8px;">
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-textarea v-model="description" label="Type testimony here" name="description" v-validate="'required'" />
                    <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>
                </div>
            </div>

            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="float-right" @click="UpdateTestimony">Update Testimony</vs-button>
                </div>
            </div>
        </vs-card>
    </vs-col>
</vs-row>
</template>

<script>
export default {
    data() {
        return {
            id: '',
            description: '',
            name: '',
            memberId: '',
            members:[]
        }
    },
    methods: {
        ClearControl() {
            this.description = "";
        },
        GetmemberInformation(val, e) {
            axios.post('/api/getMemberbyName', {
                    name: this.name
                }, auth)
                .then((response) => {

                    if (response.data.length > 0) {
                        this.members = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                })
        },
        SelectMember(member) {
            this.name = member.name;
            this.memberId = member.id;
            this.members = []
        },
        UpdateTestimony() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Update!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            axios.put('/api/testimony/' + this.id, {
                                    id: this.id,
                                    description: this.description,
                                    member_id : this.memberId,
                                    user_id : localStorage.getItem("userId")
                                }, auth)
                                .then((response) => {
                                    if (response.data.status) {
                                        this.ClearControl();
                                        swalWithBootstrapButtons.fire(
                                            'Updated!',
                                            response.data.message,
                                            'success'
                                        )

                                    } else {
                                        this.$toastr.warning(response.data.message, 'Update failed!')
                                    }
                                })
                                .catch((error) => {
                                    console.log(error);
                                    this.$toastr.error(error, 'Error!')
                                });

                        } else if (
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'Update cancelled!',
                                'error'
                            )
                        }
                    })

                } else {
                    // form have errors
                }
            })
        }

    },
    created() {
        this.id = this.$store.state.SelectedTestimony.id;
        this.description = this.$store.state.SelectedTestimony.description;
        this.name = this.$store.state.SelectedTestimony.name;
        this.memberId = this.$store.state.SelectedTestimony.memberId;
    }
}
</script>

<style>
.MemberSearchResult {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.MemberSearchResultItem {
    padding: 0.9em;
    border-bottom: 0.2px solid rgb(221, 220, 220);
    font-size: 13px;
    width: 100%;
    display: block;
}

.MemberSearchResultItem:hover {
    background-color: #7367F0;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
    border-radius: 5px;
}

.MemberSearchResultItem:last-child {
    border-bottom: none;
}
</style>
