<template>
<vs-row vs-justify="center">
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="testimonies">
            <template slot="header">
                <h3>
                    List of Testimonies
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Id
                </vs-th>
                <vs-th sort-key="description">
                    Testimony
                </vs-th>
                <vs-th sort-key="TestimonyBy">
                    Testimony By
                </vs-th>
                <vs-th sort-key="status">
                    Status
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th sort-key="updated_at">
                    Date Updated
                </vs-th>
                <vs-th>
                    Action
                </vs-th>

            </template>

            <template slot-scope="{data}">
                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].Id">
                        {{data[indextr].id}}
                    </vs-td>
                    <vs-td :data="data[indextr].description">
                        {{data[indextr].description}}
                    </vs-td>

                    <vs-td :data="data[indextr].member.name">
                        {{data[indextr].member.name}}
                    </vs-td>
                    <vs-td :data="data[indextr].status">
                        {{data[indextr].status}}
                    </vs-td>

                    <vs-td :data="data[indextr].created_at">
                        {{FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td :data="data[indextr].updated_at">
                        {{FormatDate(data[indextr].updated_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td>
                        <div class="row">
                            <vx-tooltip text="Edit">
                                <vs-button class="marginClass" color="warning" icon="edit" @click="EditTestimony(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                            <vx-tooltip text="Delete">
                                <vs-button class="marginClass" color="danger" icon="delete" @click="deleteTestimony(data[indextr].id)" type="filled"></vs-button>
                            </vx-tooltip>
                            <vx-tooltip text="Approve">
                                <vs-button color="primary" icon="check" @click="ApproveTestimoy(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                        </div>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</vs-row>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        selected: [],
        testimonies: [],
        SelectedTestimony: {},
        FormatDate: dateFormat,
        description: '',
        views: ''
    }),
    methods: {
        GetAllTestimonies() {
            axios.get('/api/testimony', auth)
                .then((response) => {
                    console.log("Testimonies " , response.data)
                    this.testimonies = response.data
                    this.$store.commit('GET_ALL_TESTIMONIES', {
                        testimonies: response.data
                    })

                }).catch((err) => {
                    this.$toastr.error(err, 'Error');
                });
        },
        EditTestimony(testimony) {
            this.SelectedTestimony = testimony
            this.$store.commit('UPDATE_TESTIMONY_DATA', {
                id: testimony.id,
                description: testimony.description,
                views: testimony.views,
                name: testimony.member.name,
                memberId: testimony.member.id
            })
            this.$router.push('/editTestimony');
        },
        deleteTestimony(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/testimony/' + id, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadTestimonies')
                                swalWithBootstrapButtons.fire(
                                    'Deleted!',
                                    response.data.message,
                                    'success'
                                )
                            } else {
                                this.$toastr.warning(response.data.message, 'Deletion failed!')
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                            this.$toastr.error(error, 'Error!')
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Deletion cancelled!',
                        'error'
                    )
                }
            })
        },
        ApproveTestimoy(testimony) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Approve!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    axios.put('/api/testimony/' + testimony.id, {
                            id: testimony.id,
                            description: testimony.description,
                            status: 'AUTHORIZED'
                        }, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadTestimonies')
                                swalWithBootstrapButtons.fire(
                                    'Updated!',
                                    response.data.message,
                                    'success'
                                )

                            } else {
                                this.$toastr.warning(response.data.message, 'Update failed!')
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                            this.$toastr.error(error, 'Error!')
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Update cancelled!',
                        'error'
                    )
                }
            })
        }
    },
    created() {
        this.GetAllTestimonies()
        Fire.$on('reloadTestimonies', () => {
            this.GetAllTestimonies();
        })
    },
    watch: {
        '$store.state.ArrayOfTestimonies.testimonies': function () {
            this.testimonies = this.$store.state.ArrayOfTestimonies.testimonies
        }
    }

}
</script>

<style>
@import '/app-assets/css/bootstrap.css';

.marginClass {
    margin-right: 5px;
}
</style>
