<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center">
        <vs-card class="cardx">
            <div slot="header">
                <h3>
                    Add Total Number of Members Presents Today
                </h3>
            </div>

            <div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                       <label for="date">Attendance date</label>
                        <datepicker v-model="currentDate" name="currentDate" v-validate="'required'"></datepicker>
                        <span class="text-danger text-sm" v-show="errors.has('currentDate')">{{ errors.first('currentDate') }}</span>
                    </div>

                </div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Enter Total Number Of Members Present At Church Today" v-model="TotalNumberOfMembers" name="TotalNumberOfMembers" v-validate="'required'" />
                        <span class="text-danger text-sm" v-show="errors.has('TotalNumberOfMembers')">{{ errors.first('TotalNumberOfMembers') }}</span>
                    </div>
                </div>
                <div class="vx-row">
                    <vs-divider></vs-divider>
                </div>

                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-left" @click="Submit">Submit</vs-button>
                    </div>
                </div>
            </div>
        </vs-card>
    </vs-col>

       <view-total-attendance></view-total-attendance>

</vs-row>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import viewTotalAttendance from '../attendance/ViewTotalAttendance';
export default {
    components: {
        Datepicker,
        'view-total-attendance': viewTotalAttendance
    },
    data() {
        return {
            currentDate: new Date().toLocaleString(),
            TotalNumberOfMembers: '',
            id:''
        }
    },
    methods: {
        GetTotalAttendaceOnServiceDays() {
            axios.get('/api/attendance/' + localStorage.getItem("churchId"), auth)
                .then((response) => {
                    this.totalMembersPresent = response.data;
                    this.$store.commit('GET_ALL_TOTAL_MEMBERS_FOR_A_DAY', {
                        totalMembersPresent: response.data
                    })
                })
                .catch((error) => {
                    this.$toastr.error(error, 'Error!')
                })
        },
        Submit() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$vs.loading();
                    axios.post('/api/attendance', {
                            numberOfPeople: this.TotalNumberOfMembers,
                            datePresent: this.currentDate,
                            church_id: localStorage.getItem("churchId"),
                            user_id: localStorage.getItem("userId")
                        }, auth)
                        .then((response) => {
                            if (response.data.status) {
                                this.$toastr.success(response.data.message, 'Created!')
                                this.TotalNumberOfMembers = "";
                                this.GetTotalAttendaceOnServiceDays();
                                this.$vs.loading.close()
                            } else {
                                this.$toastr.warning(response.data.message, 'Not Created!')
                                this.$vs.loading.close()
                            }
                        })
                        .catch((error) => {
                            this.$toastr.error(error, 'Error')
                            this.$vs.loading.close()
                        });
                } else {
                    // form have errors
                }
            })
        }
    }

}
</script>
