<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center">
        <vs-card class="cardx">
            <div slot="header">
                <h3>
                    Update Total Number of Members Presents At Church
                </h3>
            </div>

            <div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                       <label for="date"> Attendance date</label>
                        <datepicker v-model="datePresent" name="datePresent" v-validate="'required'"></datepicker>
                        <span class="text-danger text-sm" v-show="errors.has('datePresent')">{{ errors.first('datePresent') }}</span>
                    </div>

                </div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Enter Total Number Of Members Present At Church Today" v-model="numberOfPeople" name="numberOfPeople" v-validate="'required'" />
                        <span class="text-danger text-sm" v-show="errors.has('numberOfPeople')">{{ errors.first('numberOfPeople') }}</span>
                    </div>
                </div>
                <div class="vx-row">
                    <vs-divider></vs-divider>
                </div>

                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-left" @click="UpdateAttendance">Update</vs-button>
                    </div>
                </div>
            </div>
        </vs-card>
    </vs-col>

</vs-row>
</template>


<script>
import Datepicker from 'vuejs-datepicker';
export default {
    components:{
        Datepicker
    },
    data(){
        return{
          id:'',
          datePresent:'',
          numberOfPeople:''
        }
    },
    methods:{
      UpdateAttendance(){
         this.$validator.validateAll().then(result => {
                if (result) {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Update!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            axios.put('/api/attendance/' + this.id, {
                                    id: this.id,
                                    datePresent: this.datePresent,
                                    numberOfPeople : this.numberOfPeople,
                                    user_id : localStorage.getItem("userId")
                                }, auth)
                                .then((response) => {
                                    if (response.data.status) {
                                        swalWithBootstrapButtons.fire(
                                            'Updated!',
                                            response.data.message,
                                            'success'
                                        )
                                       this.$router.push('/addTotalAttendance');
                                    } else {
                                        this.$toastr.warning(response.data.message, 'Update failed!')
                                    }
                                })
                                .catch((error) => {
                                    console.log(error);
                                    this.$toastr.error(error, 'Error!')
                                });

                        } else if (
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'Update cancelled!',
                                'error'
                            )
                        }
                    })

                } else {
                    // form have errors
                }
            })
      }
    },
     created(){
       this.id = this.$store.state.SelectedMembersPresentInService.id;
        this.datePresent = this.$store.state.SelectedMembersPresentInService.datePresent;
        this.numberOfPeople = this.$store.state.SelectedMembersPresentInService.numberOfPeople;
    }
}
</script>
