<template>
<vs-row vs-justify="center">
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="totalMembersPresent">
            <template slot="header">
                <h3>
                    List of Church Members Present At Church
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Id
                </vs-th>
                <vs-th sort-key="datePresent">
                    Date
                </vs-th>
                <vs-th sort-key="numberOfPeople">
                    Total Number Of people
                </vs-th>
                <vs-th sort-key="createdBy">
                    Created By
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th>
                    Action
                </vs-th>

            </template>

            <template slot-scope="{data}">
                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].Id">
                        {{data[indextr].id}}
                    </vs-td>
                    <vs-td :data="data[indextr].datePresent">
                         {{FormatDate(data[indextr].datePresent, "mmm dS, yyyy")}}
                    </vs-td>

                    <vs-td :data="data[indextr].numberOfPeople">
                        {{data[indextr].numberOfPeople}}
                    </vs-td>
                    <vs-td :data="data[indextr].user.name">
                        {{data[indextr].user.name}}
                    </vs-td>

                    <vs-td :data="data[indextr].created_at">
                        {{FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td>
                        <div class="row">
                            <vx-tooltip text="Edit">
                                <vs-button class="marginClass" color="warning" icon="edit" @click="EditAttendancePerService(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                            <!-- <vx-tooltip text="Approve">
                                <vs-button color="primary" icon="check" @click="ApproveTestimoy(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip> -->
                        </div>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</vs-row>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        id:'',
        selected: [],
        totalMembersPresent: [],
        totalMembersPresentselected: {},
        FormatDate: dateFormat,
        datePresent:'',
        numberOfPeople:''

    }),
    created() {
        this.GetTotalAttendaceOnServiceDays();
        Fire.$on('reloadtotalMembersPresent', () => {
            this.GetTotalAttendaceOnServiceDays();
        })
    },
    methods: {
        GetTotalAttendaceOnServiceDays() {
            axios.get('/api/attendance', auth)
                .then((response) => {
                    console.log("Attendance " , response.data)
                    this.totalMembersPresent = response.data;
                     this.$store.commit('GET_ALL_TOTAL_MEMBERS_FOR_A_DAY', {
                        totalMembersPresent: response.data
                    })
                })
                .catch((error) => {
                    this.$toastr.error(error, 'Error!')
                })
        },
        EditAttendancePerService(totalMembersPresent){
                   this.totalMembersPresentselected = totalMembersPresent
            this.$store.commit('UPDATE_ATTENDANCE_PER_SERVICE_DATA', {
               id : totalMembersPresent.id,
               datePresent : totalMembersPresent.datePresent,
                numberOfPeople: totalMembersPresent.numberOfPeople
            })
            this.$router.push('/editTotalAttendance');
        }
    },
     watch: {
        '$store.state.totalMembersPresentInService.totalMembersPresent': function () {
            this.totalMembersPresent = this.$store.state.totalMembersPresentInService.totalMembersPresent
        }
    }
}
</script>

<style>
@import '/app-assets/css/bootstrap.css';
</style>
