<template>
<vs-row vs-justify="center">
    <!-- <reloadViewTithe v-if=""></reloadViewTithe> -->
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="8">
        <vs-card class="cardx" style="margin-right:8px;">
            <div class="vx-col w-full">
                <vs-input class="w-full" @change="smsText" v-debounce="GetmemberInformation" label-placeholder="Search Member by Name" debounce-events="input" v-model="name" name="name" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>

                <div class="titheSearchResult">
                    <span @click="SelectMember(member)" v-for="(member,index) in members" :key="index" class="titheSearchResultItem">
                        {{ member.id }} {{ member.name }}
                    </span>
                    <p v-if="members.length === 0"> No record found </p>
                </div>

            </div>
        </vs-card>
    </vs-col>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4">
        <vs-card class="cardx" style="margin-left:8px;">
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-input class="w-full" @keyup="smsText" label-placeholder="Amount" v-model="amount" name="amount" v-validate="'required'" />
                    <span class="text-danger text-sm" v-show="errors.has('amount')">{{ errors.first('amount') }}</span>
                </div>
            </div>
            <br />
            <div class="vx-row">
                <div class="vx-col w-full">
                    <label for="date">Tithe date</label>
                    <datepicker@change="smsText" v-model="datepaid" name="datepaid" v-validate="'required'"></datepicker@change="smsText">
                    <span class="text-danger text-sm" v-show="errors.has('datepaid')">{{ errors.first('datepaid') }}</span>
                </div>
            </div>
            <br/>
               <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-checkbox v-model="chMessage">Check to automatically send sms</vs-checkbox>
                    <p></p>
                   <vs-textarea v-if="chMessage" v-model="smsMessage" />
                </div>
            </div>

            <div class="vx-row">
                <vs-divider></vs-divider>
            </div>

            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="float-right" @click="AddTIthe">Add Tithe</vs-button>
                </div>
            </div>
        </vs-card>
    </vs-col>

    <view-tithe-component ></view-tithe-component>
</vs-row>
</template>

<script>
import ViewTithe from '../Tithe/ViewTithe.vue'
import Datepicker from 'vuejs-datepicker';
var dateFormat = require('dateformat');
export default {
    components: {
        Datepicker,
        'view-tithe-component':ViewTithe
    },
    data() {
        return {
            members: [],
            selectedMember: null,
            memberId: '',
            name: '',
            amount: '',
            datepaid: new Date().toLocaleString(),
            chMessage: true,
            smsMessage:'',
            phoneNumber:'',
            FormatDate: dateFormat
        }
    },
    methods: {
        smsText(){
           this.smsMessage = 'Hello '+ this.name +' your tithe '+this.smsAmount +' has been received on '+this.FormatDate(this.datepaid, "mmm dS, yyyy")
        },
        ClearControls() {
            this.name = "";
            this.memberId = "";
            this.amount = ""
        },
        AddTIthe() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$vs.loading();
                    axios.post('/api/tithe', {
                            member_id: this.memberId,
                            amount: this.amount,
                            datepaid: this.datepaid,
                            chMessage : this.chMessage,
                            smsMessage : this.smsMessage,
                            phoneNumber : this.phoneNumber,
                            userId : localStorage.getItem("userId")
                        }, auth)
                        .then((response) => {
                            if (response.data.status) {
                                this.$toastr.success(response.data.message, "Created!")
                                 this.GetAllTithes()
                                this.ClearControls()
                                 this.$vs.loading.close();
                            } else {
                                this.$toastr.warning(response.data.message, "Not Created!")
                                 this.$vs.loading.close();
                            }
                        })
                        .catch((error) => {
                            console.log("Error " , error)
                            this.$toastr.error(error, "Error!")
                             this.$vs.loading.close();
                        });
                } else {
                    // form have errors
                }
            })
        },
        SelectMember(member) {
            this.name = member.name;
            this.memberId = member.id;
            this.phoneNumber = member.phoneNumber;
            console.log("Phone Number " ,this.phoneNumber)
            this.members = []
        },
         GetAllTithes() {
            axios.get('/api/tithe', auth)
                .then((response) => {
                   response.data
                    this.$store.commit('GET_ALL_TITHES', {
                        tithes: response.data
                    })

                }).catch((err) => {
                    this.$toastr.error(err, 'Error');
                });
        },
        GetmemberInformation(val, e) {
            axios.post('/api/getMemberbyName', {
                    name: this.name
                }, auth)
                .then((response) => {

                    if (response.data.length > 0) {
                        this.members = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                })
        },
    },
  computed:{
      smsAmount(){
          if(this.amount===""){
            return this.amount
          }
          return 'GHS '+ this.amount
      }
  },
  watch:{
      'datepaid': function() {
          this.smsText()
      },
      'name': function(){
          this.smsText()
      }
  }
}
</script>

<style lang="scss">

.titheSearchResult {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.titheSearchResultItem {
    padding: 0.9em;
    border-bottom: 0.2px solid rgb(221, 220, 220);
    font-size: 13px;
    width: 100%;
    display: block;
}

.titheSearchResultItem:hover {
    background-color: #7367F0;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
    border-radius: 5px;
}

.titheSearchResultItem:last-child {
    border-bottom: none;
}
</style>
