<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="8">
        <vs-card class="cardx" style="margin-right:8px;">
            <div class="vx-col w-full">
                <vs-input class="w-full" v-debounce="GetmemberInformation" label-placeholder="Search Member by Name" debounce-events="input" v-model="name" name="name" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                <!-- <div> {{ GetmemberInformation() }}</div> -->
                <div class="titheSearchResult">
                    <span @click="SelectMember(member)" v-for="(member,index) in members" :key="index" class="titheSearchResultItem">
                        {{ member.id }} {{ member.name }}
                    </span>
                    <p v-if="members.length === 0"> No record found </p>
                </div>

            </div>
        </vs-card>
    </vs-col>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4">
        <vs-card class="cardx" style="margin-left:8px;">
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-input class="w-full" label-placeholder="Amount" v-model="amount" name="amount" v-validate="'required'" />
                    <span class="text-danger text-sm" v-show="errors.has('amount')">{{ errors.first('amount') }}</span>
                </div>
            </div>
            <br />
            <div class="vx-row">
                <div class="vx-col w-full">
                    <label for="date">Tithe date</label>
                    <datepicker  v-model="datepaid" name="datepaid" v-validate="'required'"></datepicker>
                    <span class="text-danger text-sm" v-show="errors.has('datepaid')">{{ errors.first('datepaid') }}</span>
                </div>
            </div>

            <div class="vx-row">
                <vs-divider></vs-divider>
            </div>

            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="float-right" @click="UpdateTIthe">Update Tithe</vs-button>
                </div>
            </div>
        </vs-card>
    </vs-col>
</vs-row>
</template>


<script>
import Datepicker from 'vuejs-datepicker';
export default {
    components:{
     Datepicker
    },
    data(){
        return{
              id:'',
            name:'',
            datepaid:'',
            amount:'',
            memberId:'',
            members: []
        }
    },
    methods:{
         ClearControls() {
            this.name = "";
            this.memberId = "";
            this.amount = ""
        },
        UpdateTIthe(){

             this.$validator.validateAll().then(result => {
            if (result) {
             const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Update!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    axios.put('/api/tithe/'+this.id,{
                        id : this.id,
                        member_id: this.memberId,
                        amount: this.amount,
                        datepaid: this.datepaid
                    }, auth)
                    .then((response) =>{
                         if(response.data.status){
                          this.ClearControls()
                          swalWithBootstrapButtons.fire(
                            'Updated!',
                            response.data.message,
                            'success'
                            )
                           this.$router.push('/addTithe')
                          // this.$router.push('/addTotalAttendance');
                         }
                         else{
                             this.$toastr.warning(response.data.message, 'Update failed!')
                         }
                    })
                    .catch( (error) => {
                        this.$toastr.error(error, 'Error!')
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Update cancelled!',
                    'error'
                    )
                }
             })

            } else {
            // form have errors
            }
            })
        },
        SelectMember(member) {
            this.name = member.name;
            this.memberId = member.id;
            this.members =[];
        },
        GetmemberInformation(val, e) {
            console.log(this.name)

            axios.post('/api/getMemberbyName', {
                    name: this.name
                }, auth)
                .then((response) => {

                    if (response.data.length > 0) {
                        this.members = response.data;
                    }
                })
                .catch((error) => {
                    this.$toastr.error(error, 'Error!')
                })
        }
    },
    created(){
             this.id = this.$store.state.SelectedTithe.id;
             this.memberId = this.$store.state.SelectedTithe.memberId;
             this.name = this.$store.state.SelectedTithe.name;
             this.datepaid = this.$store.state.SelectedTithe.datepaid;
             this.amount = this.$store.state.SelectedTithe.amount;
            }
}
</script>



<style lang="scss">

.titheSearchResult {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.titheSearchResultItem {
    padding: 0.9em;
    border-bottom: 0.2px solid rgb(221, 220, 220);
    font-size: 13px;
    width: 100%;
    display: block;
}

.titheSearchResultItem:hover {
    background-color: #7367F0;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
    border-radius: 5px;
}

.titheSearchResultItem:last-child {
    border-bottom: none;
}
</style>
