<template>
<vs-row vs-justify="center">
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="tithes">
            <template slot="header">
                <h3>
                    List of Tithes
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Tithe Id
                </vs-th>
                <vs-th sort-key="name">
                    Member Name
                </vs-th>
                <vs-th sort-key="amount">
                    Amount Paid
                </vs-th>
                <vs-th sort-key="datepaid">
                    Tithe date
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Updated
                </vs-th>
                <vs-th>
                    Action
                </vs-th>

            </template>

            <template slot-scope="{data}">
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="data[indextr].Id">
                            {{data[indextr].id}}
                        </vs-td>

                        <vs-td :data="data[indextr].title">
                            <span v-if="data[indextr].member"> {{data[indextr].member.name}}</span>
                        </vs-td>
                        <vs-td :data="data[indextr].amount">
                            {{data[indextr].amount}}
                        </vs-td>
                        <vs-td :data="data[indextr].datepaid">
                            {{FormatDate(data[indextr].datepaid, "mmm dS, yyyy")}}
                        </vs-td>

                        <vs-td :data="data[indextr].created_at">
                            {{FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                        </vs-td>
                        <vs-td :data="data[indextr].updated_at">
                            {{FormatDate(data[indextr].updated_at, "mmm dS, yyyy")}}
                        </vs-td>
                        <vs-td>
                            <div class="row">
                                <vx-tooltip text="Edit">
                                    <vs-button color="warning" icon="edit" @click="EditTithe(data[indextr])" type="filled"></vs-button>
                                </vx-tooltip>
                            </div>
                        </vs-td>
                    </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</vs-row>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        selected: [],
        tithes: [],
        SelectedTithe: {},
        FormatDate: dateFormat,
        id: '',
        name: '',
        datepaid: '',
        amount: '',
        memberId: ''
    }),
    methods: {
        GetAllTithes() {
            axios.get('/api/tithe', auth)
                .then((response) => {
                    this.tithes = response.data
                    this.$store.commit('GET_ALL_TITHES', {
                        tithes: response.data
                    })
                }).catch((err) => {
                    this.$toastr.error(err, 'Error');
                });
        },
        EditTithe(tithe) {
            this.SelectedTithe = tithe
            this.$store.commit('UPDATE_TITHE_DATA', {
                id: tithe.id,
                name: tithe.member.name,
                datepaid: tithe.datepaid,
                amount: tithe.amount,
                memberId: tithe.member.id
            })
            this.$router.push('/editTithe');
        },
    },
    created() {
        this.GetAllTithes()
    },
    watch: {
        '$store.state.ArrayOfTithe.tithes': function () {
            // this.tithes = this.$store.state.ArrayOfTithe.tithes
            this.tithes = this.$store.state.ArrayOfTithe.tithes.filter(tithe => tithe.member != null)
        }
    }
}
</script>

<style>
@import '/app-assets/css/bootstrap.css';
</style>
