
<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="">
         <div>
           <vs-button color="primary" class="fa fa-reply" type="flat" href="/"><span style="padding:5px;">Back to website</span></vs-button>
         </div>
          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@assets/images/pages/login.png" alt="register" class="mx-auto">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Register User</h4>
                  <p></p>
                </div>

                <div>
                    <vs-input
                      name="name"
                      v-validate="'required'"
                      icon-no-border
                      icon="icon icon-user"
                      icon-pack="feather"
                      label-placeholder="Full name"
                      v-model="name"
                      class="w-full"/>
                    <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                  <vs-input
                      name="email"
                      v-validate="'required|email'"
                      icon-no-border
                      icon="icon icon-user"
                      icon-pack="feather"
                      label-placeholder="Email"
                      v-model="email"
                      class="w-full"/>
                    <span class="text-danger text-sm"  v-show="errors.has('email')">{{ errors.first('email') }}</span>

                  <vs-input
                      type="password"
                      name="password"
                      v-validate="'required|min:6|max:10'"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Password"
                      v-model="password"
                      class="w-full mt-6" />
                  <span class="text-danger text-sm"  v-show="errors.has('password')">{{ errors.first('password') }}</span>
                  <vs-input
                      type="password"
                      name="password_confirmation"
                      v-validate="'required|min:6|max:10|confirmed:password'"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Password Confirmation"
                      v-model="password_confirmation"
                      class="w-full mt-6" />
                   <span class="text-danger text-sm"  v-show="errors.has('password_confirmation')">{{ errors.first('password_confirmation') }}</span>

                  <vs-divider></vs-divider>
                  <vs-button  type="border" @click="loginPage" >Login</vs-button>
                  <vs-button class="float-right" @click="Register" >Register</vs-button>



                </div>

              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
const axios = require('axios')
export default{
  data() {
    return {
      name:"",
      email: "",
      password: "",
      password_confirmation: "",
      checkbox_remember_me: false,
    }
  },
  methods: {
     loginPage(){
         this.$router.push('/login').catch((err) => {  console.log("Errors ", err) })
      },
      ClearControls(){
        this.name = "";
        this.email="";
        this.password="";
        this.password_confirmation="";
      },
     Register(){
           this.$validator.validateAll().then(result => {
        if (result) {
          // if form have no errors
         console.log("Register ")
         axios.post('/api/register', {
                name : this.name,
                email : this.email,
                password: this.password
            })
            .then((response) => {
              if(response.data.status){
                  // reset form fields
                localStorage.setItem('jwt',response.data.jwt);
                localStorage.setItem('username',response.data.user.name);
                localStorage.setItem('userId',response.data.user.id);
                window.location.href = '/dashboard'
                //this.$router.push('/').catch((err) => { console.log("Errors ", err)})
                 this.ClearControls();
              }
              else{
                toastr.error(response.data.message, 'Registration Failed');
              }
            })
            .catch(function (error) {
                console.log("Error Register ", error);
               toastr.error(error, 'Registration Failed');
            });
        } else {
          // form have errors
        }
      })

     }
  }
}
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook { background-color: #1551b1 }
    .bg-twitter { background-color: #00aaff }
    .bg-google { background-color: #4285F4 }
    .bg-github { background-color: #333 }
  }
}
</style>
