<template>
<div>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="3">
      <vs-card class="cardx" style="margin-right:8px;">
            <picture-inputer
                ref="pictureInput"
                width="600"
                height="600"
                margin="16"
                accept="image/jpeg,image/png"
                size="2"
                button-class="btn"
                :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Click here to select a file'
                }"
                @change="onChange"
                @remove="onRemove"
               >
            </picture-inputer>
      </vs-card>
    </vs-col>
    <div></div>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="9">
      <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Add Member
          </h3>
        </div>

        <div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Full Name" v-model="name" name="name"  v-validate="'required'"/>
                        <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                    <vs-input class="w-full" label-placeholder="Phone Number" v-model="phoneNumber" name="phoneNumber"  v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('phoneNumber')">{{ errors.first('phoneNumber') }}</span>
                    </div>
                </div>
                <div class="vx-row">
                    <div></div>
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Location" v-model="location" name="location"/>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Occupation"   v-model="occupation" name="occupation"  />
                    </div>
                </div>
                 <br/>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <v-select :options="['Single','Married']"  label="Marital Status" class="w-full" v-model="MaritalStatus" name="MaritalStatus" />
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-6">
                        <v-select :options="['Male','Female']"  label="Gender" class="w-full" v-model="Gender" name="Gender"   />
                    </div>
                </div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Place Of Work" v-model="placeOfWork"/>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-6">
                        <vs-input class="w-full" label-placeholder="contact Person's Name" v-model="contactPerson" name="contactPerson"/>
                    </div>
                </div>
                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="contact Person's Phone Number" v-model="contactPersonPhoneNumber" name="contactPersonPhoneNumber"/>
                    </div>
                </div>
                 <div class="vx-row">
                     <vs-divider></vs-divider>
                 </div>

                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-right" @click="AddMember">Add Member</vs-button>
                    </div>
                </div>
        </div>
      </vs-card>
    </vs-col>



     <vs-card class="cardx">
       <div style="text-align:center;">
           <h2 style="text-align:center;">Or Upload excel file for members</h2>
           <hr>
             Excel Sheet format
             <div class="con-example-images">
                  <img src="@assets/images/excel1.png" class="mx-auto"/>
            </div>
         </div>
     </vs-card>
       <upload-member></upload-member>

  </vs-row>
</div>

</template>

<script>
import PictureInput from 'vue-picture-input'
import UploadMember from '../members/UploadMembers.vue'
import vSelect from 'vue-select'

export default {
    components:{
      'v-select': vSelect,
      'picture-inputer': PictureInput,
      'upload-member' : UploadMember
    },
    data(){
        return{
              name:'',
              phoneNumber:'',
              location:'',
              occupation:'',
              placeOfWork:'',
              MaritalStatus:'Select Marital Status',
              Gender:'Select Gender',
              photo:'',
              contactPerson:'',
              contactPersonPhoneNumber:''
        }
    },
    methods:{
        ClearControl(){
          this.name = this.phoneNumber = this.location = this.occupation = this.placeOfWork = "";
          this.MaritalStatus = this.Gender = this.photo = this.contactPerson = this.contactPersonPhoneNumber = "";
        },
        AddMember() {
        this.$validator.validateAll().then(result => {
            this.$vs.loading();
            if (result) {
                axios.post('/api/member',{
                        name: this.name,
                        phoneNumber: this.phoneNumber,
                        location : this.location,
                        occupation : this.occupation,
                        placeOfWork : this.placeOfWork,
                        MaritalStatus : this.MaritalStatus,
                        Gender : this.Gender,
                        photo : this.photo,
                        contactPerson : this.contactPerson,
                        contactPersonPhoneNumber : this.contactPersonPhoneNumber,
                        userId : localStorage.getItem("userId")
                    }, auth)
                    .then((response) => {
                        if(response.data.status){
                          this.$toastr.success(response.data.message , 'Created!')
                          this.ClearControl()
                          this.$refs.pictureInput.removeImage()
                          this.$vs.loading.close()
                        }
                        else{
                            this.$toastr.warning(response.data.message, 'Not Created!')
                            this.$vs.loading.close()
                        }
                    })
                    .catch((error) => {
                        //this.$toastr.error(error, 'Error')
                        localStorage.removeItem('jwt')
                        localStorage.removeItem('username')
                        localStorage.removeItem('userId')
                        this.$router.push('/login')
                        this.$vs.loading.close()
                    });
            } else {
            // form have errors
            }
        })
        },
     onChange(image) {
      if (image) {
        this.image = image
        this.photo = image

        } else {
            console.log('FileReader API not supported: use the <form>, Luke!')
        }
     },
     onRemove(){
         console.log("Heelo Remove");
     },
     clearImage() {

     }
    }
}
</script>
