<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <vs-card class="cardx" style="margin-right:8px;">
            <picture-inputer ref="pictureInput" width="600" height="600" margin="16" accept="image/jpeg,image/png" size="2" :prefill="currentPhoto" button-class="btn" :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Click here to select a file'
                }" @change="onChange">
            </picture-inputer>
        </vs-card>
    </vs-col>
    <div></div>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="9">
        <vs-card class="cardx" style="margin-left:8px;">
            <div slot="header">
                <h3>
                    Update Member
                </h3>
            </div>

            <div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Full Name" v-model="name" name="name" v-validate="'required'" />
                        <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Phone Number" v-model="phoneNumber" name="phoneNumber" v-validate="'required'" />
                        <span class="text-danger text-sm" v-show="errors.has('phoneNumber')">{{ errors.first('phoneNumber') }}</span>
                    </div>
                </div>
                <div class="vx-row">
                    <div></div>
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Location" v-model="location" name="location" />
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Occupation" v-model="occupation" name="occupation"  />
                    </div>
                </div>
                <br/>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <v-select :options="['Single','Married']" label="Marital Status" class="w-full" v-model="MaritalStatus" name="MaritalStatus" />

                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-6">
                        <v-select :options="['Male','Female']" label="Gender" class="w-full" v-model="Gender" name="Gender"/>
                    </div>
                </div>
                <div class="vx-row">
                    <div class="vx-col sm:w-1/2 w-full mb-2">
                        <vs-input class="w-full" label-placeholder="Place Of Work" v-model="placeOfWork" />
                    </div>
                    <div class="vx-col sm:w-1/2 w-full mb-6">
                        <vs-input class="w-full" label-placeholder="contact Person's Name" v-model="contactPerson" name="contactPerson" />
                    </div>
                </div>
                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-input class="w-full" label-placeholder="contact Person's Phone Number" v-model="contactPersonPhoneNumber" name="contactPersonPhoneNumber" />

                    </div>
                </div>
                <div class="vx-row">
                    <vs-divider></vs-divider>
                </div>

                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-right" @click="UpdateMember">Update Member</vs-button>
                    </div>
                </div>
            </div>
        </vs-card>
    </vs-col>
</vs-row>
</template>

<script>
import PictureInput from 'vue-picture-input'
import vSelect from 'vue-select'
export default {
    components: {
        'v-select': vSelect,
        'picture-inputer': PictureInput
    },
    data() {
        return {
            currentPhoto: '',
            id: '',
            name: '',
            phoneNumber: '',
            location: '',
            occupation: '',
            placeOfWork: '',
            MaritalStatus: '',
            Gender: '',
            photo: '',
            contactPerson: '',
            contactPersonPhoneNumber: ''
        }
    },
    methods: {
        onChange(image) {
            if (image) {
                this.image = image
                this.photo = image
            }
        },
        ClearControl() {
            this.id = this.name = this.phoneNumber = this.location = this.occupation = this.placeOfWork = "";
            this.MaritalStatus = this.Gender = this.photo = this.contactPerson = this.contactPersonPhoneNumber = "";
        },
        UpdateMember() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Update!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        // this.$vs.loading();
                        if (result.value) {
                            console.log("JWT ", auth);
                            axios.put('/api/member/' + this.id, {
                                    id: this.id,
                                    name: this.name,
                                    phoneNumber: this.phoneNumber,
                                    location: this.location,
                                    occupation: this.occupation,
                                    placeOfWork: this.placeOfWork,
                                    MaritalStatus: this.MaritalStatus,
                                    Gender: this.Gender,
                                    photo: this.photo,
                                    contactPerson: this.contactPerson,
                                    contactPersonPhoneNumber: this.contactPersonPhoneNumber
                                }, auth)
                                .then((response) => {
                                    if (response.data.status) {
                                        this.ClearControl();
                                         this.$vs.loading.close();
                                        this.$refs.pictureInput.removeImage()
                                        swalWithBootstrapButtons.fire(
                                            'Updated!',
                                            response.data.message,
                                            'success'
                                        )

                                    } else {
                                        this.$toastr.warning(response.data.message, 'Update failed!')
                                       //  this.$vs.loading.close();
                                    }
                                })
                                .catch((error) => {

                                    this.$toastr.error(error, 'Error!')
                                     //this.$vs.loading.close();
                                });

                        } else if (

                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            //this.$vs.loading.close();
                            swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'Update cancelled!',
                                'error'
                            )

                        }
                    })

                } else {
                    // form have errors
                }
            })
        }
    },
    created() {
        console.log("Form  State ", this.$store.state.selectedMember)
        this.id = this.$store.state.selectedMember.id;
        this.name = this.$store.state.selectedMember.name;
        this.photo = this.$store.state.selectedMember.photo;
        this.phoneNumber = this.$store.state.selectedMember.phoneNumber;
        this.location = this.$store.state.selectedMember.location;
        this.occupation = this.$store.state.selectedMember.occupation;
        this.placeOfWork = this.$store.state.selectedMember.placeOfWork;
        this.MaritalStatus = this.$store.state.selectedMember.MaritalStatus;
        this.Gender = this.$store.state.selectedMember.Gender;
        this.contactPerson = this.$store.state.selectedMember.contactPerson;
        this.contactPersonPhoneNumber = this.$store.state.selectedMember.contactPersonPhoneNumber;
        this.currentPhoto = "/img/profile/" + this.photo;
    }
}
</script>
