<template>
<vs-row class="vx-row" vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="8">
        <vs-card class="cardx">
            <VueFileAgent ref="vueFileAgent" :theme="'list'" :multiple="false" :deletable="true" :meta="true" :accept="'.xls,.xlsx,.csv'" :maxSize="'1MB'" :maxFiles="14" :helpText="'Choose Excel file'" :errorText="{
                    type: 'Invalid file type. Only excel file',
                    size: 'Files should not exceed 1MB in size',
                    }" @select="filesSelected($event)" @beforedelete="onBeforeDelete($event)" @delete="fileDeleted($event)" v-model="fileRecords"></VueFileAgent>
            <br>



                <div class="vx-row">
                    <div class="vx-col w-full">
                          <vs-button class="float-right" @click="UploadExcelData">Upload Excel Data</vs-button>
                    </div>
                </div>
        </vs-card>
    </vs-col>
</vs-row>
</template>

<script>
export default {
    data: () => {
        return {
            fileRecords: [],
            uploadUrl: '',
            uploadHeaders: {
                'X-Test-Header': 'vue-file-agent'
            },
            path: null,
        };
    },
    methods: {
        uploadFiles: function () {
            // Using the default uploader. You may use another uploader instead.

            this.$refs.vueFileAgent.upload(this.uploadUrl, this.uploadHeaders);
            //this.fileRecordsForUpload = [];

        },
        deleteUploadedFile: function (fileRecord) {
            console.log("file ", fileRecord)

            // Using the default uploader. You may use another uploader instead.
            this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, this.uploadHeaders, fileRecord);
        },
        filesSelected: function (fileRecordsNewlySelected) {
            this.$store.commit('GET_SELECTED_EXCEL_FILE', {
                path: fileRecordsNewlySelected[0].file
            })
        },
        UploadExcelData() {
            this.path = this.$store.state.SelectExcelFile.path;
            const formData = new FormData();
            formData.append('member_upload', this.path);
               console.log("Form data ", formData)
            this.$vs.loading();
            axios.post('/api/excelUpload', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        ...auth.headers
                    }
                })
                .then((response) => {
                    if (response.data.status) {
                        this.$toastr.success(response.data.message, "Uploaded!")
                        this.$refs.vueFileAgent.deleteFileRecord(this.$store.state.SelectExcelFile.path);
                        this.$vs.loading.close()
                    } else {
                        this.$toastr.warning(response.data.message, "Not Uploaded!")
                        this.$vs.loading.close()
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, "Error!")
                    this.$vs.loading.close()
                });
        },
        onBeforeDelete: function (fileRecord) {
            console.log("before delete...", fileRecord)

            // this.$refs.fileAgent.deleteFileRecord(fileRecord);
            this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        },
        fileDeleted: function (fileRecord) {
            //  this.$refs.fileAgent.deleteUpload(fileRecord);

            // this.deleteUploadedFile(fileRecord);
        }
    }
}
</script>
