<template>
<div class="row">
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="members">
            <template slot="header">
                <h3>
                    List of Members
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Id
                </vs-th>
                <vs-th sort-key="name">
                    Name
                </vs-th>
                <vs-th sort-key="name">
                    Contact Person
                </vs-th>
                <vs-th sort-key="phoneNumber">
                    Phone Number
                </vs-th>
                <vs-th sort-key="created_by">
                    Created By
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th>
                    Action
                </vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].Id">
                        {{data[indextr].id}}
                    </vs-td>

                    <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                    </vs-td>

                    <vs-td :data="data[indextr].contactPerson">
                        {{data[indextr].contactPerson}}
                    </vs-td>

                    <vs-td :data="data[indextr].phoneNumber">
                        {{data[indextr].phoneNumber}}
                    </vs-td>

                    <vs-td :data="data[indextr].user.name">
                        {{data[indextr].user.name}}
                    </vs-td>
                    <vs-td :data="data[indextr].created_at">
                        {{ FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td>
                        <div class="row">
                            <vx-tooltip text="Edit">
                                <vs-button style="margin-right:5px;" color="warning" icon="edit" @click="EditMember(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                            <vx-tooltip text="Delete">
                                <vs-button color="danger" icon="delete" @click="deleteMember(data[indextr].id)" type="filled"></vs-button>
                            </vx-tooltip>
                        </div>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</div>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        selected: [],
        members: [],
        memberselected: {},
        FormatDate: dateFormat

    }),
    created() {
        this.GetAllMembers();
        Fire.$on('reloadMembers', () => {
            this.GetAllMembers();
        })
    },
    methods: {
        GetAllMembers() {
            axios.get('/api/member', auth)
                .then((response) => {
                    this.members = response.data;
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                })
        },
        EditMember(member) {
            this.memberselected = member;
            console.log("Member Id", this.memberselected);
            this.$store.commit('UPDATE_MEMBER_DATA', {
                id: member.id,
                name: member.name,
                phoneNumber: member.phoneNumber,
                photo: member.photo,
                location: member.location,
                occupation: member.occupation,
                placeOfWork: member.placeOfWork,
                MaritalStatus: member.MaritalStatus,
                Gender: member.Gender,
                contactPerson: member.contactPerson,
                contactPersonPhoneNumber: member.contactPersonPhoneNumber,

            })
            this.$router.push('/editMember');
        },
        deleteMember(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/member/' + id, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadMembers')
                                swalWithBootstrapButtons.fire(
                                    'Deleted!',
                                    response.data.message,
                                    'success'
                                )
                            } else {
                                this.$toastr.warning(response.data.message, 'Deletion failed!')
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                            this.$toastr.error(error, 'Error!')
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Deletion cancelled!',
                        'error'
                    )
                }
            })
        }
    }
}
</script>

<style>
@import '/app-assets/css/bootstrap.css';
</style>
