<template>
     <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Add Visitor
          </h3>
        </div>

        <div class="vx-row">
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Full Name" v-model="name" name="name"  v-validate="'required'"/>
                <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Phone Number" v-model="phoneNumber" name="phoneNumber" v-validate="'required'"/>
                    <span class="text-danger text-sm"  v-show="errors.has('phoneNumber')">{{ errors.first('phoneNumber') }}</span>
                </div>
        </div>
            <div class="vx-row">
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="House Number" name="houseNo" v-model="houseNo" />
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Email Address (optional)" v-model="emailAddress"/>
                </div>
        </div>
        <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input class="w-full" label-placeholder="Postal Address" v-model="postalAddress" />
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input class="w-full" label-placeholder="Who invited you to the Church" v-model="invitedBy" name="invitedBy" v-validate="'required'"/>
        <span class="text-danger text-sm"  v-show="errors.has('invitedBy')">{{ errors.first('invitedBy') }}</span>
        </div>
        </div>
        <div class="vx-row">
            <div class="vx-col w-full">
                <vs-textarea v-model="specificProblem" label="Do you have any specific problem that the ministry should know" />
            </div>
        </div>
            <div class="vx-row">
            <div class="vx-col w-full">
                <vs-textarea v-model="prayerRequest" label="Do you have any prayer request" />
                </div>
        </div>
        <div class="vx-row">
            <div class="vx-col w-full">
                <vs-input class="w-full" label-placeholder="Would you like to worship with us again and if possibble become a permanent member?" v-model="worshipwithusagain" />
            </div>
        </div>

        <div class="vx-row">
            <br>
        </div>

    <div class="vx-row">
        <div class="vx-col w-full">
            <vs-textarea v-model="ifNoWhy" label="If no why?" />
        </div>
    </div>
        <div class="vx-row">
        <div class="vx-col w-full">
            <vs-textarea v-model="remarks" label="Your comments / Remarks about the Church" />
        </div>
    </div>

    <div class="vx-row">
        <div class="vx-col w-full">
        <vs-button class="float-right" @click="AddVisitor">Add Visitor</vs-button>
        </div>
    </div>
      </vs-card>
</template>


<script>
export default {
    data(){
        return{
               name:'',
                phoneNumber:'',
                houseNo:'',
                emailAddress:'',
                postalAddress:'',
                invitedBy:'',
                specificProblem:'',
                prayerRequest:'',
                worshipwithusagain:'',
                ifNoWhy:'',
                remarks:''
        }

    },
    methods:{
        AddVisitor(){
            this.$validator.validateAll().then(result => {
                if (result) {
                     axios.post('/api/visitor', {
                        name:this.name,
                        phoneNumber:this.phoneNumber,
                        houseNo: this.houseNo,
                        emailAddress: this.emailAddress,
                        postalAddress: this.postalAddress,
                        invitedBy: this.invitedBy,
                        specificProblem: this.specificProblem,
                        prayerRequest: this.prayerRequest,
                        worshipwithusagain: this.worshipwithusagain,
                        ifNoWhy: this.ifNoWhy,
                        remarks: this.remarks
                    }, auth)
                    .then( (response) => {
                        if(response.data.status){
                       this.$toastr.success(response.data.message , "Created!")
                       this.ClearControls();
                        }
                        else{
                           this.$toastr.warning(response.data.message , "Not Created!")
                        }
                    })
                    .catch( (error) => {
                        this.$toastr.success(error , "Error!")
                    });
                } else {
                // form have errors
                }
            })
        },
        ClearControls(){
        this.name = "";
        this.phoneNumber="";
        this.houseNo="";
        this.emailAddress ="";
        this.postalAddress="";
        this.invitedBy ="";
        this.specificProblem ="";
        this.prayerRequest = "";
        this.worshipwithusagain = "";
        this.ifNoWhy ="";
        this.remarks ="";
        }
    }
}
</script>
