<template>
     <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Update Visitor
          </h3>
        </div>

        <div class="vx-row">
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Full Name" v-model="name" name="name"  v-validate="'required'"/>
                <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Phone Number" v-model="phoneNumber" name="phoneNumber" v-validate="'required'"/>
                    <span class="text-danger text-sm"  v-show="errors.has('phoneNumber')">{{ errors.first('phoneNumber') }}</span>
                </div>
        </div>
            <div class="vx-row">
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="House Number" name="houseNo" v-model="houseNo" />
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Email Address (optional)" v-model="emailAddress"/>
                </div>
        </div>
        <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input class="w-full" label-placeholder="Postal Address" v-model="postalAddress" />
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input class="w-full" label-placeholder="Who invited you to the Church" v-model="invitedBy" name="invitedBy" v-validate="'required'"/>
        <span class="text-danger text-sm"  v-show="errors.has('invitedBy')">{{ errors.first('invitedBy') }}</span> 
        </div>
        </div>
        <div class="vx-row">
            <div class="vx-col w-full">
                <vs-textarea v-model="specificProblem" label="Do you have any specific problem that the ministry should know" />
            </div>
        </div>
            <div class="vx-row">
            <div class="vx-col w-full">
                <vs-textarea v-model="prayerRequest" label="Do you have any prayer request" />
                </div>
        </div>
        <div class="vx-row">
            <div class="vx-col w-full">
                <vs-input class="w-full" label-placeholder="Would you like to worship with us again and if possibble become a permanent member?" v-model="worshipwithusagain" />
            </div>
        </div>
    
        <div class="vx-row">
            <br>
        </div>

    <div class="vx-row">
        <div class="vx-col w-full">
            <vs-textarea v-model="ifNoWhy" label="If no why?" />
        </div>
    </div>
        <div class="vx-row">
        <div class="vx-col w-full">
            <vs-textarea v-model="remarks" label="Your comments / Remarks about the Church" />
        </div>
    </div>

    <div class="vx-row">
        <div class="vx-col w-full">
        <vs-button class="float-right" @click="UpdateVisitor">Update Visitor</vs-button>                         
        </div>  
    </div>
      </vs-card>
</template>


<script>
export default {
      data(){
        return{
            id:'',
            name:'',
            phoneNumber:'',
            houseNo:'',
            emailAddress:'',
            postalAddress:'',
            invitedBy:'',
            specificProblem:'',
            prayerRequest:'',
            worshipwithusagain:'',
            ifNoWhy:'',
            remarks:''

        }
      },
      methods:{
        ClearControls(){
            this.id="";
            this.name = "";
            this.phoneNumber="";
            this.houseNo="";
            this.emailAddress ="";
            this.postalAddress="";
            this.invitedBy ="";
            this.specificProblem ="";
            this.prayerRequest = "";
            this.worshipwithusagain = "";
            this.ifNoWhy ="";
            this.remarks ="";
        },
         UpdateVisitor(){
             this.$validator.validateAll().then(result => {
            if (result) {
             const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Update!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    axios.put('/api/visitor/'+this.id,{
                        id : this.id,
                        name: this.name,
                        phoneNumber: this.phoneNumber,
                        houseNo : this.houseNo,
                        emailAddress : this.emailAddress,
                        postalAddress: this.postalAddress,
                        invitedBy : this.invitedBy,
                        specificProblem : this.specificProblem,
                        prayerRequest : this.prayerRequest,
                        worshipwithusagain : this.worshipwithusagain,
                        ifNoWhy : this.ifNoWhy,
                        remarks : this.remarks
                    }, auth)
                    .then((response) =>{
                         if(response.data.status){
                          this.ClearControls()
                          swalWithBootstrapButtons.fire(
                            'Updated!',
                            response.data.message,
                            'success'
                            )

                         }
                         else{
                             this.$toastr.warning(response.data.message, 'Update failed!')
                         }
                    })
                    .catch( (error) => {
                        console.log(error);
                        this.$toastr.error(error, 'Error!')
                    }); 
                  
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Update cancelled!',
                    'error'
                    )
                }
             })

            } else {
            // form have errors
            }
            })
         }
      
      },
      created(){
             this.id = this.$store.state.selectedVisitor.id;
             this.name = this.$store.state.selectedVisitor.name;
             this.phoneNumber = this.$store.state.selectedVisitor.phoneNumber;
             this.houseNo = this.$store.state.selectedVisitor.houseNo;
             this.emailAddress = this.$store.state.selectedVisitor.emailAddress;
             this.postalAddress = this.$store.state.selectedVisitor.postalAddress;
             this.invitedBy = this.$store.state.selectedVisitor.invitedBy;
             this.specificProblem = this.$store.state.selectedVisitor.specificProblem;
             this.prayerRequest = this.$store.state.selectedVisitor.prayerRequest;
             this.worshipwithusagain = this.$store.state.selectedVisitor.worshipwithusagain;
             this.ifNoWhy = this.$store.state.selectedVisitor.ifNoWhy;
             this.remarks = this.$store.state.selectedVisitor.remarks;
      }
}
</script>
