<template>
    <div>
         <vs-card>
                    <vs-table
      multiple
      v-model="selected"
      pagination
      max-items="10"
      search
      :data="users">
      <template slot="header">
        <h3>
          List of Visitors
        </h3>
      </template>
      <template slot="thead">
        <vs-th sort-key="Id">
          Id
        </vs-th>
        <vs-th sort-key="name">
          Name
        </vs-th>
        <vs-th sort-key="phoneNumber">
          Phone Number
        </vs-th>
        <vs-th sort-key="occupation">
          Invited By
        </vs-th>
         <vs-th sort-key="created_at">
          Date Created
        </vs-th>
         <vs-th>
          Action
        </vs-th>

      </template>

      <template slot-scope="{data}">
        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" >
          <vs-td :data="data[indextr].Id">
            {{data[indextr].id}}
          </vs-td>

          <vs-td :data="data[indextr].name">
            {{data[indextr].name}}
          </vs-td>

          <vs-td :data="data[indextr].phoneNumber">
            {{data[indextr].phoneNumber}}
          </vs-td>

          <vs-td :data="data[indextr].invitedBy">
            {{data[indextr].invitedBy}}
          </vs-td>
          <vs-td :data="data[indextr].created_at">
            {{FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
          </vs-td>
           <vs-td >
             <div class="row">
                   <vs-button style="margin-right:5px;" color="warning" icon="edit" @click="EditVisitor(data[indextr])" type="filled"></vs-button>
                   <vs-button color="danger" icon="delete" @click="deleteVisitor(data[indextr].id)" type="filled"></vs-button>
             </div>
          </vs-td>

        </vs-tr>
      </template>
    </vs-table>
         </vs-card>
    </div>
</template>


<script>
var dateFormat = require('dateformat');
export default {
    data:()=>({
    selected:[],
    users:[],
    visitorSelected:{},
     FormatDate: dateFormat

  }),
  methods:{
      GetAllVisitors(){
          this.$http.get('api/visitor', auth)
          .then((result) => {
              this.users = result.data;
          }).catch((err) => {

          });
      },
      EditVisitor(visitor){
         this.visitorSelected = visitor;
          this.$store.commit('UPDATE_VISITOR_DATA',{
          id: visitor.id,
          name : visitor.name,
          phoneNumber : visitor.phoneNumber,
          houseNo : visitor.houseNo,
          emailAddress : visitor.emailAddress,
          postalAddress : visitor.postalAddress,
          invitedBy : visitor.invitedBy,
          specificProblem : visitor.specificProblem,
          prayerRequest : visitor.prayerRequest,
          worshipwithusagain  : visitor.worshipwithusagain,
          ifNoWhy  : visitor.ifNoWhy,
          remarks  : visitor.remarks
        })
      this.$router.push('/editVisitor');
      },
      deleteVisitor(id){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    axios.delete('/api/visitor/'+id, auth)
                    .then((response) =>{
                         if(response.data.status){
                             Fire.$emit('reloadVisitors')
                            swalWithBootstrapButtons.fire(
                            'Deleted!',
                            response.data.message,
                            'success'
                            )
                         }
                         else{
                             this.$toastr.warning(response.data.message, 'Deletion failed!')
                         }
                    })
                    .catch( (error) => {
                        console.log(error);
                        this.$toastr.error(error, 'Error!')
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Deletion cancelled!',
                    'error'
                    )
                }
             })
      }
  },
  created(){
      this.GetAllVisitors();
         Fire.$on('reloadVisitors',() => {
              this.GetAllVisitors();
            })
  }
}
</script>


<style>
  @import '/app-assets/css/bootstrap.css';
</style>
