<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4">
      <vs-card class="cardx" style="margin-right:8px;">
          <picture-inputer 
                ref="pictureInput"
                width="280" 
                height="280" 
                margin="16" 
                accept="image/jpeg,image/png" 
                size="2" 
                button-class="btn"
                :prefill="currentPhoto"
                :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Click here to select a file'
                }"
                @change="onChange"
                @remove="onRemove"
               >
            </picture-inputer>
      </vs-card>
    </vs-col>
    <div></div>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="8">
      <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Add Announcement
          </h3>
        </div>

        <div>    
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-input class="w-full" label-placeholder="Announcement Title" v-model="title" name="title"  v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                </div>
 
            </div>
            <div><br></div>

            </div>
                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-textarea v-model="description" label="Description (Information on the announcement)"  name="description" v-validate="'required'"/>
                        <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>
                    </div>
                </div>
                 <div class="vx-row">
                     <vs-divider></vs-divider>
                 </div>
              
                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-right" @click="UpdateAnnouncement">Update Announcement</vs-button>                         
                    </div>
                </div>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
import PictureInput from 'vue-picture-input'
export default {
        components:{
      'picture-inputer': PictureInput
    },
    data(){
        return{
            title:'',
            description:'',
            photo:'',
            currentPhoto:''
        }
    },
        created(){
             this.id = this.$store.state.SelectedAnnouncement.id;
             this.title = this.$store.state.SelectedAnnouncement.title;
             this.photo = this.$store.state.SelectedAnnouncement.photo;
             this.description = this.$store.state.SelectedAnnouncement.description;
             this.currentPhoto = "/img/announce/"+this.photo;
            },
    methods: {
            ClearControl(){
          this.title ="";
          this.description = "";
          this.photo= "";
        },
        UpdateAnnouncement(){
           this.$validator.validateAll().then(result => {
            if (result) {
             const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Update!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    axios.put('/api/announcement/'+this.id,{
                        id : this.id,
                        title: this.title,
                        description: this.description,
                        photo : this.photo
                    }, auth)
                    .then((response) =>{
                         if(response.data.status){
                          this.ClearControl();
                          this.$refs.pictureInput.removeImage()
                          swalWithBootstrapButtons.fire(
                            'Updated!',
                            response.data.message,
                            'success'
                            )

                         }
                         else{
                             this.$toastr.warning(response.data.message, 'Update failed!')
                         }
                    })
                    .catch( (error) => {
                        console.log(error);
                        this.$toastr.error(error, 'Error!')
                    }); 
                  
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Update cancelled!',
                    'error'
                    )
                }
             })

            } else {
            // form have errors
            }
            })
        },
        onChange(image) {
      console.log('New picture selected!')
      if (image) {
        console.log('Picture loaded.')
        this.image = image
        this.photo = image       
      
        } else {
            console.log('FileReader API not supported: use the <form>, Luke!')
        }
     },
     onRemove(){
         console.log("Heelo Remove");
     },
    }
}
</script>


