<template>
   <vs-row vs-justify="center">
       <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
        <vs-card class="cardx" style="margin-right:8px;">
            <div class="vx-col w-full">
                <vs-input class="w-full" v-debounce="GetChurchInformation" label-placeholder="Search Church by Name" debounce-events="input" v-model="churchName" name="churchName" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('churchName')">{{ errors.first('churchName') }}</span>

                <div class="ChurchSearchResult">
                    <span @click="SelectChurch(church)" v-for="(church,index) in Churches" :key="index" class="ChurchSearchResultItem">
                        {{ church.id }} {{ church.churchName }}
                    </span>
                    <p v-if="Churches.length === 0"> No record found </p>
                </div>

            </div>
        </vs-card>
    </vs-col>
      <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
            <vs-card class="cardx" style="margin-left:8px;">
            <div class="vx-row">
                <div class="vx-col w-full">
                  <vs-input class="w-full" label-placeholder="Church Admin Name" v-model="name" name="name"  v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                </div>

                 <div class="vx-col w-full">
                  <vs-input class="w-full" label-placeholder="Church Admin Email Address" name="email" v-model="email"  v-validate="'required|email'"/>
                    <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </div>
            </div>
             <br>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="float-right" @click="AddChurchAdmin">Add Church Admin</vs-button>
                </div>
            </div>
        </vs-card>
    </vs-col>
 <view-church-component></view-church-component>
</vs-row>
</template>

<script>
 import viewChurch from '../Admins/ViewChurchAdmins'
export default {
    components:{
   'view-church-component' : viewChurch
    },
    data(){
        return{
          churchId:'', //
          churchName:'',
          contacNumber:'',
          Churches:[],
          name:'',
          email:'',
          password:'123456'
        }
    },
    methods:{
          SelectChurch(church) {
            this.churchName = church.churchName;
            this.churchId = church.id;
            this.contacNumber = church.contacNumber;
            this.Churches = []
        },
         GetChurchAdmins() {
            this.$vs.loading();
            axios.get('/api/register', auth)
                .then((response) => {
                    this.churchAdmins = response.data;
                    this.$vs.loading.close();
                    this.$store.commit('GET_ALL_CHURCH_ADMINS', {
                        churchAdmins: response.data
                    })
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                    this.$vs.loading.close();
                })
        },
         GetChurchInformation(val, e) {
            axios.post('/api/GetChurchByName', {
                    churchName: this.churchName
                }, auth)
                .then((response) => {

                    if (response.data.length > 0) {
                        this.Churches = response.data;
                        console.log("Churches ", response.data)
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                })
        },
        ClearControls(){
           this.churchId ="";
           this.name="";
           this.email ="";
           this.churchName="";
        },
        AddChurchAdmin(){
             this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            axios.post('/api/register', {
                church_id: this.churchId,
                name: this.name,
                email: this.email,
                password: this.password
              }, auth)
              .then((response)  => {
                 if(response.data.status){
                     this.$toastr.success(response.data.message , "Created!")
                     this.GetChurchAdmins();
                      this.$vs.loading.close()
                     this.ClearControls()
                 }
                 else{
                    this.$toastr.warning(response.data.message, 'Failed!');
                     this.$vs.loading.close()
                 }
              })
              .catch(function (error) {
                 this.toastr.error(error, 'Failed!');
                  this.$vs.loading.close()
              });
        }else{
          // form have errors
        }
      })
        }
    }
}
</script>



<style>

.ChurchSearchResult {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.ChurchSearchResultItem {
    padding: 0.9em;
    border-bottom: 0.2px solid rgb(221, 220, 220);
    font-size: 13px;
    width: 100%;
    display: block;
}

.ChurchSearchResultItem:hover {
    background-color: #7367F0;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
    border-radius: 5px;
}

.ChurchSearchResultItem:last-child {
    border-bottom: none;
}
</style>
