<template>
   <vs-row vs-justify="center">
       <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
        <vs-card class="cardx" style="margin-right:8px;">
            <div class="vx-col w-full">
                <vs-input class="w-full" v-debounce="GetChurchInformation" label-placeholder="Search Church by Name" debounce-events="input" v-model="churchName" name="churchName" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('churchName')">{{ errors.first('churchName') }}</span>

                <div class="ChurchSearchResult">
                    <span @click="SelectChurch(church)" v-for="(church,index) in Churches" :key="index" class="ChurchSearchResultItem">
                        {{ church.id }} {{ church.churchName }}
                    </span>
                    <p v-if="Churches.length === 0"> No record found </p>
                </div>

            </div>
        </vs-card>
    </vs-col>
      <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
            <vs-card class="cardx" style="margin-left:8px;">
            <div class="vx-row">
                <div class="vx-col w-full">
                  <vs-input class="w-full" label-placeholder="Church Admin Name" v-model="name" name="name"  v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                </div>

                 <div class="vx-col w-full">
                  <vs-input class="w-full" label-placeholder="Church Admin Email Address" name="email" v-model="email"  v-validate="'required|email'"/>
                    <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </div>
            </div>
             <br>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="float-right" @click="UpdateChurchAdmin">Update Church Admin</vs-button>
                </div>
            </div>
        </vs-card>
    </vs-col>
</vs-row>
</template>

<script>
 import viewChurch from '../Admins/ViewChurchAdmins'
export default {
    data(){
        return{
          id:'',
          churchId:'', //
          churchName:'',
          contacNumber:'',
          Churches:[],
          name:'',
          email:'',
          password:'123456'
        }
    },
    methods:{
          SelectChurch(church) {
            this.churchName = church.churchName;
            this.churchId = church.id;
            this.contacNumber = church.contacNumber;
            this.Churches = []
        },
         GetChurchInformation(val, e) {
            axios.post('/api/GetChurchByName', {
                    churchName: this.churchName
                }, auth)
                .then((response) => {

                    if (response.data.length > 0) {
                        this.Churches = response.data;
                        console.log("Churches ", response.data)
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                })
        },
        ClearControls(){
           this.churchId ="";
           this.name="";
           this.email ="";
        },
        UpdateChurchAdmin(){
             this.$validator.validateAll().then(result => {
                if (result) {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Update!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            this.$vs.loading();
                            axios.put('/api/register/' + this.id, {
                                    id: this.id,
                                    name: this.name,
                                    email : this.email,
                                    church_id : this.churchId
                                }, auth)
                                .then((response) => {
                                    if (response.data.status) {
                                        this.ClearControls();
                                        this.$vs.loading.close();
                                        swalWithBootstrapButtons.fire(
                                            'Updated!',
                                            response.data.message,
                                            'success'
                                        )

                                    } else {
                                        this.$toastr.warning(response.data.message, 'Update failed!')
                                        this.$vs.loading.close();
                                    }
                                })
                                .catch((error) => {
                                    this.$toastr.error(error, 'Error!')
                                    this.$vs.loading.close();
                                });

                        } else if (
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'Update cancelled!',
                                'error'
                            )
                        }
                    })

                } else {
                    // form have errors
                }
            })
        }
    },
    created(){
     this.id = this.$store.state.SelectChurchAdmin.id;
     this.churchName =  this.$store.state.SelectChurchAdmin.churchName;
     this.name =  this.$store.state.SelectChurchAdmin.name;
     this.email =  this.$store.state.SelectChurchAdmin.email;
     this.churchId =  this.$store.state.SelectChurchAdmin.churchId;
    }
}
</script>



<style>
.ChurchSearchResult {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.ChurchSearchResultItem {
    padding: 0.9em;
    border-bottom: 0.2px solid rgb(221, 220, 220);
    font-size: 13px;
    width: 100%;
    display: block;
}

.ChurchSearchResultItem:hover {
    background-color: #7367F0;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
    border-radius: 5px;
}

.ChurchSearchResultItem:last-child {
    border-bottom: none;
}
</style>
