<template>
<vs-row vs-justify="center">
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="churchAdmins">
            <template slot="header">
                <h3>
                    Churches Admins
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Id
                </vs-th>
                <vs-th sort-key="churchName">
                    Church Name
                </vs-th>
                <vs-th sort-key="adminName">
                    Admin Name
                </vs-th>
                <vs-th sort-key="adminEmail">
                    Email Address
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th>
                    Action
                </vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].Id">
                        {{data[indextr].id}}
                    </vs-td>

                    <vs-td :data="data[indextr].churchName">
                        {{data[indextr].church.churchName}}
                    </vs-td>
                    <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                    </vs-td>
                    <vs-td :data="data[indextr].email">
                        {{data[indextr].email}}
                    </vs-td>
                    <vs-td :data="data[indextr].created_at">
                        {{ FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td>
                        <div class="row">
                            <vx-tooltip text="Edit">
                                <vs-button class="marginClass" color="warning" icon="edit" @click="EditChurchAdmin(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                            <vx-tooltip text="Delete">
                                <vs-button class="marginClass" color="danger" icon="delete" @click="deleteChurch(data[indextr].id)" type="filled"></vs-button>
                            </vx-tooltip>
                        </div>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</vs-row>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        selected: [],
        churchAdmins: [],
        Adminselected: {},
        FormatDate: dateFormat
    }),
    created() {
        this.GetChurchAdmins();
        Fire.$on('reloadChurchAdmins', () => {
            this.GetChurchAdmins();
        })
    },
    methods: {
        GetChurchAdmins() {
            this.$vs.loading();
            axios.get('/api/register', auth)
                .then((response) => {
                    this.churchAdmins = response.data;
                    this.$vs.loading.close();
                    this.$store.commit('GET_ALL_CHURCH_ADMINS', {
                        churchAdmins: response.data
                    })
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                    this.$vs.loading.close();
                })
        },
        EditChurchAdmin(admin) {
            this.Adminselected = admin;
            this.$store.commit('UPDATE_CHURCH_ADMIN_DATA', {
                id: admin.id,
                name: admin.name,
                email: admin.email,
                churchName: admin.church.churchName,
                churchId:admin.church.id
            })
            this.$router.push('/admin/ch/editChurchAdmin');
        },
        deleteChurch(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    this.$vs.loading();
                    axios.delete('/api/register/' + id, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadChurchAdmins')
                                this.$vs.loading.close();
                                swalWithBootstrapButtons.fire(
                                    'Deleted!',
                                    response.data.message,
                                    'success'
                                )
                            } else {
                                this.$toastr.warning(response.data.message, 'Deletion failed!')
                                this.$vs.loading.close();
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                            this.$toastr.error(error, 'Error!')
                            this.$vs.loading.close();
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {

                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Deletion cancelled!',
                        'error'
                    )
                }
            })
        }
    },
    watch: {
        '$store.state.GetChurchAdmin.churchAdmins': function () {
            this.churchAdmins = this.$store.state.GetChurchAdmin.churchAdmins
        }
    }
}
</script>

<style>
@import '/app-assets/css/bootstrap.css';

.marginClass {
    margin-right: 5px;
}
</style>
