<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="5">
      <vs-card class="cardx" style="margin-right:8px;">
             <VueFileAgent
                    ref="vueFileAgent"
                    :theme="'list'"
                    :multiple="false"
                    :deletable="true"
                    :meta="true"
                    :accept="'video/*'"
                    :maxSize="'100MB'"
                    :maxFiles="14"
                    :helpText="'Choose mp4 file'"
                    :errorText="{
                    type: 'Invalid file type. Only mp4 file',
                    size: 'Files should not exceed 100MB in size',
                    }"
                    @select="filesSelected($event)"
                    @beforedelete="onBeforeDelete($event)"
                    @delete="fileDeleted($event)"
                    v-model="fileRecords"
                ></VueFileAgent>
                <!-- <button :disabled="!fileRecordsForUpload.length" @click="uploadFiles()">
                    Upload {{ fileRecordsForUpload.length }} files
                </button> -->
      </vs-card>
    </vs-col>
    <div></div>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="7">
      <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Add Sermon
          </h3>
        </div>

        <div>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-input class="w-full" label-placeholder="Sermon Title" v-model="title" name="title"  v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                </div>

            </div>
            <div><br></div>
            <div class="vx-row">
                    <div class="vx-col w-full">
                     <datepicker  v-model="date" name="date" v-validate="'required'"></datepicker>
                     <span class="text-danger text-sm" v-show="errors.has('date')">{{ errors.first('date') }}</span>
                    </div>
            </div>
            <div>
                <br>
            </div>
                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-textarea v-model="description" label="Description (Scriptures)"  name="description" v-validate="'required'"/>
                        <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>
                    </div>
                </div>
                 <div class="vx-row">
                     <vs-divider></vs-divider>
                 </div>

                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-right" @click="AddSermon">Add Sermon</vs-button>
                    </div>
                </div>
        </div>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
    components:{
     Datepicker
    },
      data: () =>{
      return {
        fileRecords: [],
        uploadUrl: '',
        uploadHeaders: { 'X-Test-Header': 'vue-file-agent' },
           title:'',
            description:'',
            date:new Date().toLocaleString(),
            audio:''
      };
    },
    methods:{
         uploadFiles:  function()  {
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.upload(this.uploadUrl, this.uploadHeaders);
        //this.fileRecordsForUpload = [];
        console.log("Audio file " , this.uploadUrl)

      },
       deleteUploadedFile:  function(fileRecord) {
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, this.uploadHeaders, fileRecord);
      },
       filesSelected:  function(fileRecordsNewlySelected)  {
        var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
        // console.log("Audio File " , fileRecordsNewlySelected[0].file)
         this.audio = fileRecordsNewlySelected[0].file;
          this.$store.commit('GET_SELECTED_EXCEL_FILE', {
                path: fileRecordsNewlySelected[0].file
            })
      },
        onBeforeDelete : function(fileRecord) {
            console.log("before delete..." , fileRecord)
           // this.$refs.fileAgent.deleteFileRecord(fileRecord);
            this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
      },
      fileDeleted:  function(fileRecord){
          console.log("deleting...")
          //this.$refs.fileAgent.deleteUpload(fileRecord);
         // this.deleteUploadedFile(fileRecord);
      },
        ClearControls(){
           this.title="";
           this.description="";
        },
        AddSermon(){
            this.$validator.validateAll().then(result => {
                 const formData = new FormData();
                 formData.append('title', this.title);
                 formData.append('description', this.description);
                 formData.append('datepreached', this.date);
                 formData.append('audio', this.audio);
                 formData.append('church_id', localStorage.getItem('churchId'));
                if (result) {
                    this.$vs.loading();
                   axios.post('/api/sermon',formData,{
                         headers: {
                        'Content-Type': 'multipart/form-data',
                        ...auth.headers
                    }
                    })
                    .then( (response) => {
                        if(response.data.status){
                          this.$toastr.success(response.data.message, "Created!")
                          this. ClearControls()
                          this.$refs.vueFileAgent.deleteFileRecord(this.$store.state.SelectExcelFile.path);
                           this.$vs.loading.close();
                        }
                        else{
                            this.$toastr.warning(response.data.message, "Not Created!")
                             this.$vs.loading.close();
                        }
                    })
                    .catch( (error) => {
                       this.$toastr.error(error, "Error!")
                        this.$vs.loading.close();
                    });
                } else {
                // form have errors
                }
            })
        }
    }
}
</script>

<style>

</style>
