<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
      <vs-card class="cardx" style="margin-right:8px;">
             <VueFileAgent
                    ref="vueFileAgent"
                    :theme="'list'"
                    :multiple="false"
                    :deletable="true"
                    :meta="true"
                    :accept="'video/*'"
                    :maxSize="'100MB'"
                    :maxFiles="14"
                    :helpText="'Choose mp4 file'"
                    :errorText="{
                    type: 'Invalid file type. Only mp4 file',
                    size: 'Files should not exceed 100MB in size',
                    }"
                    @select="filesSelected($event)"
                    @beforedelete="onBeforeDelete($event)"
                    @delete="fileDeleted($event)"
                    v-model="fileRecords"
                ></VueFileAgent>
      </vs-card>
    </vs-col>
    <div></div>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
      <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Edit Sermon
          </h3>
        </div>

        <div>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-input class="w-full" label-placeholder="Sermon Title" v-model="title" name="title"  v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                </div>

            </div>
            <div><br></div>
            <div class="vx-row">
                    <div class="vx-col w-full">
                     <datepicker placeholder="Select Date"  v-model="date" name="date" v-validate="'required'"></datepicker>
                     <span class="text-danger text-sm" v-show="errors.has('date')">{{ errors.first('date') }}</span>
                    </div>
            </div>
            <div>
                <br>
            </div>
                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-textarea v-model="description" label="Description (Scriptures)"  name="description" v-validate="'required'"/>
                        <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>
                    </div>
                </div>
                 <div class="vx-row">
                     <vs-divider></vs-divider>
                 </div>

                <div class="vx-row">
                    <div class="vx-col w-full">
                        <vs-button class="float-right" @click="UpdateSermon">Update Sermon</vs-button>
                    </div>
                </div>
        </div>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
    components:{
     Datepicker
    },
    data(){
        return{
            id:'',
            title:'',
            description:'',
            date:'',
            audio:'test',
            fileRecords: []
        }
    },
    methods:{
            uploadFiles:  function()  {
            // Using the default uploader. You may use another uploader instead.
            this.$refs.vueFileAgent.upload(this.uploadUrl, this.uploadHeaders);
        },
        deleteUploadedFile:  function(fileRecord) {
            // Using the default uploader. You may use another uploader instead.
            this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, this.uploadHeaders, fileRecord);
        },
        filesSelected:  function(fileRecordsNewlySelected)  {
            var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
            this.audio = fileRecordsNewlySelected;
            this.$store.commit('GET_SELECTED_EXCEL_FILE', {
                    path: fileRecordsNewlySelected[0].file
                })
        },
            onBeforeDelete : function(fileRecord) {
                console.log("before delete..." , fileRecord)
            // this.$refs.fileAgent.deleteFileRecord(fileRecord);
                this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        },
        fileDeleted:  function(fileRecord){
            console.log("deleting...")
            //this.$refs.fileAgent.deleteUpload(fileRecord);
            // this.deleteUploadedFile(fileRecord);
        },
        ClearControls(){
           this.title="";
           this.description="";
        },
        UpdateSermon(){
            console.log("sermon info ", this.date)
             this.$validator.validateAll().then(result => {
            if (result) {
             const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Update!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    axios.put('/api/sermon/'+this.id,{
                        id : this.id,
                        title: this.title,
                        description: this.description,
                        datepreached : this.date,
                        audio : this.audio
                    }, auth)
                    .then((response) =>{
                         if(response.data.status){
                          this.ClearControls()
                           this.$refs.vueFileAgent.deleteFileRecord(this.$store.state.SelectExcelFile.path);
                          swalWithBootstrapButtons.fire(
                            'Updated!',
                            response.data.message,
                            'success'
                            )

                         }
                         else{
                             this.$toastr.warning(response.data.message, 'Update failed!')
                         }
                    })
                    .catch( (error) => {
                        console.log(error);
                        this.$toastr.error(error, 'Error!')
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Update cancelled!',
                    'error'
                    )
                }
             })

            } else {
            // form have errors
            }
            })
        }
    },
    created(){
             this.id = this.$store.state.SelectedSermon.id;
             this.title = this.$store.state.SelectedSermon.title;
             this.description = this.$store.state.SelectedSermon.description;
             this.date = this.$store.state.SelectedSermon.date;
             this.audio = this.$store.state.SelectedSermon.audio;
            }
}
</script>

<style>

</style>
