<template>
    <div>
         <vs-card>
                    <vs-table
      multiple
      v-model="selected"
      pagination
      max-items="10"
      search
      :data="sermons">
      <template slot="header">
        <h3>
          List of Sermons
        </h3>
      </template>
      <template slot="thead">
        <vs-th sort-key="Id">
          Id
        </vs-th>
        <vs-th sort-key="title">
          Title
        </vs-th>
        <vs-th sort-key="date">
          date Preached
        </vs-th>
        <vs-th sort-key="description">
          Description
        </vs-th>
         <vs-th sort-key="created_at">
          Date Created
        </vs-th>
         <vs-th sort-key="created_at">
          Date Updated
        </vs-th>
         <vs-th>
          Action
        </vs-th>

      </template>

      <template slot-scope="{data}">
        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" >
          <vs-td :data="data[indextr].Id">
            {{data[indextr].id}}
          </vs-td>

          <vs-td :data="data[indextr].title">
            {{data[indextr].title}}
          </vs-td>

          <vs-td :data="data[indextr].datepreached">
               {{FormatDate(data[indextr].datepreached, "mmm dS, yyyy")}}
          </vs-td>

          <vs-td :data="data[indextr].description">
            {{data[indextr].description}}
          </vs-td>
          <vs-td :data="data[indextr].created_at">
            {{FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
          </vs-td>
            <vs-td :data="data[indextr].updated_at">
            {{FormatDate(data[indextr].updated_at, "mmm dS, yyyy")}}
          </vs-td>
           <vs-td >
             <div class="row">
                  <vx-tooltip text="Edit"> <vs-button style="margin-right:5px;" color="warning" icon="edit" @click="EditSermon(data[indextr])" type="filled"></vs-button> </vx-tooltip>
                  <vx-tooltip text="Delete"> <vs-button color="danger" icon="delete" @click="deleteSermon(data[indextr].id)" type="filled"></vs-button></vx-tooltip>
             </div>
          </vs-td>

        </vs-tr>
      </template>
    </vs-table>
         </vs-card>
    </div>
</template>


<script>
var dateFormat = require('dateformat');
export default {
    data:()=>({
    selected:[],
    sermons:[],
    SelectedSermon:{},
     FormatDate: dateFormat,
            title:'',
            description:'',
            date:'',
            audio:'test'

  }),
  methods:{
      GetAllSermons(){
          axios.get('/api/sermon/'+localStorage.getItem('churchId'), auth)
          .then((response) => {
              this.sermons = response.data
          }).catch((err) => {
              this.$toastr.error(err, 'Error');
          });
      },
      EditSermon(sermon){
       this.SelectedSermon = sermon
       this.$store.commit('UPDATE_SERMON_DATA',{
           id: sermon.id,
          title : sermon.title,
          description : sermon.description,
          audio : sermon.audio,
          date : sermon.datepreached
       })
       this.$router.push('/editSermon');
      },
      deleteSermon(id){
        const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    axios.delete('/api/sermon/'+id, auth)
                    .then((response) =>{
                         if(response.data.status){
                             Fire.$emit('reloadSermons')
                            swalWithBootstrapButtons.fire(
                            'Deleted!',
                            response.data.message,
                            'success'
                            )
                         }
                         else{
                             this.$toastr.warning(response.data.message, 'Deletion failed!')
                         }
                    })
                    .catch( (error) => {
                        console.log(error);
                        this.$toastr.error(error, 'Error!')
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Deletion cancelled!',
                    'error'
                    )
                }
             })
      }
  },
  created(){
      this.GetAllSermons()
          Fire.$on('reloadSermons',() => {
              this.GetAllSermons();
            })
  }
}

</script>

<style>
  @import '/app-assets/css/bootstrap.css';
</style>
