
<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="">
         <div>
           <vs-button color="primary" class="fa fa-reply" type="flat" href="/"><span style="padding:5px;">Back to website</span></vs-button>
         </div>
          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@assets/images/pages/register.png" alt="register" class="mx-auto">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Reset Password</h4>
                  <p></p>
                </div>

                <div>
                    <vs-input
                      type="password"
                      name="password"
                      v-validate="'required|min:6|max:10'"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Password"
                      v-model="password"
                      class="w-full mt-6" />
                  <span class="text-danger text-sm"  v-show="errors.has('password')">{{ errors.first('password') }}</span>
                  <vs-input
                      type="password"
                      name="password_confirmation"
                      v-validate="'required|min:6|max:10|confirmed:password'"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Password Confirmation"
                      v-model="password_confirmation"
                      class="w-full mt-6" />
                   <span class="text-danger text-sm"  v-show="errors.has('password_confirmation')">{{ errors.first('password_confirmation') }}</span>


                  <vs-divider></vs-divider>
                  <!-- <a href="/login"> Login</a> -->
                  <vs-button class="float-right" @click="ResetPassword" >Reset Password</vs-button>
                   <br>
                </div>


              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
//const axios = require('axios')
export default{
  data() {
    return {
     password: "",
      password_confirmation: ""
    }
  },
  methods: {
      ClearControls(){
        this.password = "";
        this.password_confirmation="";

      },
     ResetPassword(){

          this.$validator.validateAll().then(result => {
        if (result) {
            this.$vs.loading();
         axios.post('/api/ResetPassword/'+localStorage.getItem("userId"), {
                password : this.password,
                id : localStorage.getItem("userId")
            }, auth)
            .then((response) => {
              if(response.data.status){
                 window.location.href= '/';
                 this.$vs.loading.close();
              }
              else{
                toastr.warning(response.data.message, 'Reset Password Failed');
                this.$vs.loading.close();
              }
            })
            .catch(function (error) {
               toastr.error(error, 'Reset Password Failed');
               this.$vs.loading.close();
            });
        } else {
          // form have errors
        }
      })

     }
  },
  created(){

  }
}
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook { background-color: #1551b1 }
    .bg-twitter { background-color: #00aaff }
    .bg-google { background-color: #4285F4 }
    .bg-github { background-color: #333 }
  }
}
</style>
