<!-- =========================================================================================
    File Name: TheFooter.vue
    Description: Footer component
    Component Name: TheFooter
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template functional>
    <footer class="the-footer flex-wrap justify-between" :class="classes">
        <span>COPYRIGHT &copy; {{ new Date().getFullYear() }} All rights Reserved</span>
        <span class="md:flex hidden items-center">

        </span>
    </footer>
</template>

<script>
export default {
    name: "the-footer",
    props: {
        classes: {
            type: String,
        },
    },
    mounted(){
        setTimeout(function(){
            console.log("Footer Timer ")
           axios.get('/api/member', auth)
                .then((response) => {
                    console.log("User logged ")
                   // if user is loggedInn do nothing
                })
                .catch((error) => {
                    console.log("User logged out")

                    // log user out;
                    localStorage.removeItem('jwt')
                    localStorage.removeItem('username')
                    localStorage.removeItem('userId')
                    this.$router.push('/login')
                })
        },6000)
    }
}
</script>
