<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="">
          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden lg:block lg:w-1/2">

              <img src="@assets/images/pages/login.png" alt="login2" class="mx-auto">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Login</h4>
                  <!-- <p>Welcome back, please login to your account.</p> -->
                </div>

                <div>
                  <vs-input
                      name="email"
                      v-validate="'required|email'"
                      icon-no-border
                      icon="icon icon-user"
                      icon-pack="feather"
                      label-placeholder="Email"
                      v-model="email"
                      class="w-full"/>
                    <span class="text-danger text-sm"  v-show="errors.has('email')">{{ errors.first('email') }}</span>

                  <vs-input
                      type="password"
                      name="password"
                      v-validate="'required|min:6|max:10'"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Password"
                      v-model="password"
                      class="w-full mt-6" />
                  <span class="text-danger text-sm"  v-show="errors.has('password')">{{ errors.first('password') }}</span>

                  <div class="flex flex-wrap justify-between my-5">
                      <!-- <vs-checkbox v-model="checkbox_remember_me" class="mb-3">Remember Me</vs-checkbox>
                      <router-link to="">Forgot Password?</router-link> -->
                  </div>

                  <vs-button class="float-right" @click="Login">Login</vs-button>
                   <br>

                </div>

              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
const axios = require('axios')
export default{
  data() {
    return {
      email: "",
      password: "",
      checkbox_remember_me: false,
    }
  },
  methods:{
    RegisterPage(){
        this.$router.push('/register').catch((err) => {  console.log("Errors ", err) })
    },
    ClearControls(){
     this.email="";
     this.password = "";
    },
      Login() {
      this.$validator.validateAll().then(result => {
        if(result) {
            axios.post('/api/login', {
                email: this.email,
                password: this.password,
                role : "SUPERADMIN"
              })
              .then((response)  => {
                 if(response.data.status){
                     this.$vs.loading()
                      localStorage.setItem('jwt',response.data.jwt);
                      localStorage.setItem('username',response.data.user.name);
                      localStorage.setItem('userId',response.data.user.id);
                      window.location.href= '/admin/ch/dashboard';
                       this.$vs.loading.close()
                 }
                 else{
                    this.$toastr.warning(response.data.message, 'Login Failed');
                    this.ClearControls()
                 }
              })
              .catch(function (error) {
                 this.toastr.error(error, 'Login Failed');
              });
        }else{
          // form have errors
        }
      })
    }
  }
}
</script>


<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook { background-color: #1551b1 }
    .bg-twitter { background-color: #00aaff }
    .bg-google { background-color: #4285F4 }
    .bg-github { background-color: #333 }
  }

}
</style>
