<template>
<vs-row vs-justify="center">
     <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
          <h3>
            Add Church
          </h3>
        </div>

        <div class="vx-row">
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Church Name" v-model="churchName" name="churchName"  v-validate="'required'"/>
                <span class="text-danger text-sm"  v-show="errors.has('churchName')">{{ errors.first('churchName') }}</span>
                </div>
                <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Contact Number" v-model="contactNumber" name="contactNumber" v-validate="'required'"/>
                    <span class="text-danger text-sm"  v-show="errors.has('contactNumber')">{{ errors.first('contactNumber') }}</span>
                </div>
        </div>
           <div class="vx-row">
            <div class="vx-col w-full">
                <vs-input class="w-full" label-placeholder="Church Website url" v-model="url" />
            </div>
        </div>
        <div>
            <hr>
        </div>

    <div class="vx-row">
        <div class="vx-col w-full">
        <vs-button class="float-right" @click="AddChurch">Add Church</vs-button>
        </div>
    </div>
      </vs-card>
      <view-church-component></view-church-component>
</vs-row>
</template>


<script>
 import viewChurch from '../Churches/ViewChurch'
export default {
    components:{
     'view-church-component' : viewChurch
    },
    data(){
        return{
               churchName:'',
               contactNumber:'',
               url:''
        }

    },
    methods:{
        AddChurch(){
            this.$validator.validateAll().then(result => {
                if (result) {
                     this.$vs.loading();
                     axios.post('/api/church', {
                        churchName:this.churchName,
                        contactNumber:this.contactNumber,
                        url : this.url

                    }, auth)
                    .then( (response) => {
                        if(response.data.status){
                       this.$toastr.success(response.data.message , "Created!")
                       this.ClearControls();
                       this.GetAllChurches();
                       this.$vs.loading.close();
                        }
                        else{
                           this.$toastr.warning(response.data.message , "Not Created!")
                           this.$vs.loading.close();
                        }
                    })
                    .catch( (error) => {
                        this.$toastr.success(error , "Error!")
                        this.$vs.loading.close();
                    });
                } else {
                // form have errors
                }
            })
        },
        GetAllChurches(){
             this.$vs.loading();
            axios.get('/api/church', auth)
                    .then((response) => {
                        this.churches = response.data;
                         this.$vs.loading.close();
                     this.$store.commit('GET_ALL_CHURCHES', {
                        churches: response.data
                    })
                    })
                    .catch( (error) => {
                        console.log(error);
                        this.$toastr.error(error, 'Error!')
                         this.$vs.loading.close();
                    })
        },
        ClearControls(){
        this.churchName = "";
        this.contactNumber="";
        }
    }
}
</script>
