<template>
<vs-row vs-justify="center">
    <vs-card class="cardx" style="margin-left:8px;">
        <div slot="header">
            <h3>
                Edit Church
            </h3>
        </div>

        <div class="vx-row">
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Church Name" v-model="churchName" name="churchName" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('churchName')">{{ errors.first('churchName') }}</span>
            </div>
            <div class="vx-col sm:w-1/2 w-full mb-2">
                <vs-input class="w-full" label-placeholder="Contact Number" v-model="contactNumber" name="contactNumber" v-validate="'required'" />
                <span class="text-danger text-sm" v-show="errors.has('contactNumber')">{{ errors.first('contactNumber') }}</span>
            </div>
        </div>

        <div class="vx-row">
            <div class="vx-col w-full">
                <vs-input class="w-full" label-placeholder="Church Website url" v-model="url" />
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="vx-row">
            <div class="vx-col w-full">
                <vs-button class="float-right" @click="UpdateChurch">Update Church</vs-button>
            </div>
        </div>
    </vs-card>
</vs-row>
</template>

<script>
export default {
    data() {
        return {
            id: '',
            churchName: '',
            contactNumber: '',
            url: ''
        }
    },
    methods: {
        ClearControl() {
            this.id = "";
            this.contactNumber = "";
            this.churchName = "",
                this.url = ""
        },
        UpdateChurch() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, Update!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            axios.put('/api/church/' + this.id, {
                                    id: this.id,
                                    churchName: this.churchName,
                                    contactNumber: this.contactNumber,
                                    url : this.url
                                }, auth)
                                .then((response) => {
                                    if (response.data.status) {
                                        this.ClearControl();
                                        swalWithBootstrapButtons.fire(
                                            'Updated!',
                                            response.data.message,
                                            'success'
                                        )

                                    } else {
                                        this.$toastr.warning(response.data.message, 'Update failed!')
                                    }
                                })
                                .catch((error) => {
                                    console.log(error);
                                    this.$toastr.error(error, 'Error!')
                                });

                        } else if (
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'Update cancelled!',
                                'error'
                            )
                        }
                    })

                } else {
                    // form have errors
                }
            })
        }
    },
    created() {
        this.id = this.$store.state.SelectedChurch.id;
        this.churchName = this.$store.state.SelectedChurch.churchName;
        this.contactNumber = this.$store.state.SelectedChurch.contactNumber;
        this.url = this.$store.state.SelectedChurch.url;
    }
}
</script>
