<template>
<vs-row vs-justify="center">
    <vs-card>
        <vs-table v-model="selected" pagination max-items="10" search :data="churches">
            <template slot="header">
                <h3>
                    List of Churches
                </h3>
            </template>
            <template slot="thead">
                <vs-th sort-key="Id">
                    Id
                </vs-th>
                <vs-th sort-key="name">
                    Church Name
                </vs-th>
                <vs-th sort-key="contactNumber">
                    Contact Number
                </vs-th>
                <vs-th sort-key="status">
                    Status
                </vs-th>
                <vs-th sort-key="created_at">
                    Date Created
                </vs-th>
                <vs-th>
                    Action
                </vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].Id">
                        {{data[indextr].id}}
                    </vs-td>

                    <vs-td :data="data[indextr].churchName">
                        {{data[indextr].churchName}}
                    </vs-td>
                    <vs-td :data="data[indextr].contactNumber">
                        {{data[indextr].contactNumber}}
                    </vs-td>
                    <vs-td :data="data[indextr].status">
                        {{data[indextr].status}}
                    </vs-td>
                    <vs-td :data="data[indextr].created_at">
                        {{ FormatDate(data[indextr].created_at, "mmm dS, yyyy")}}
                    </vs-td>
                    <vs-td>
                        <div class="row">
                            <vx-tooltip text="Edit">
                                <vs-button class="marginClass" color="warning" icon="edit" @click="EditChurch(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                            <vx-tooltip text="Delete">
                                <vs-button class="marginClass" color="danger" icon="delete" @click="deleteChurch(data[indextr].id)" type="filled"></vs-button>
                            </vx-tooltip>
                            <vx-tooltip text="Approve">
                                <vs-button color="primary" icon="check" @click="ApproveChurch(data[indextr])" type="filled"></vs-button>
                            </vx-tooltip>
                        </div>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vs-card>
</vs-row>
</template>

<script>
var dateFormat = require('dateformat');
export default {
    data: () => ({
        selected: [],
        churches: [],
        Churchselected: {},
        FormatDate: dateFormat,
        url:''
    }),
    created() {
        this.GetAllChurches();
        Fire.$on('reloadChurches', () => {
            this.GetAllChurches();
        })
    },
    methods: {
        GetAllChurches() {
            this.$vs.loading();
            axios.get('/api/church', auth)
                .then((response) => {
                    this.churches = response.data;
                    this.$vs.loading.close();
                    this.$store.commit('GET_ALL_CHURCHES', {
                        churches: response.data
                    })
                })
                .catch((error) => {
                    console.log(error);
                    this.$toastr.error(error, 'Error!')
                    this.$vs.loading.close();
                })
        },
        EditChurch(church) {
            this.Churchselected = church;
            this.$store.commit('UPDATE_CHURCH_DATA', {
                id: church.id,
                churchName: church.churchName,
                contactNumber: church.contactNumber,
                url: church.url
            })
            this.$router.push('/admin/ch/editChurch');
        },
        deleteChurch(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                     this.$vs.loading();
                    axios.delete('/api/church/' + id, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadChurches')
                                this.$vs.loading.close();
                                swalWithBootstrapButtons.fire(
                                    'Deleted!',
                                    response.data.message,
                                    'success'
                                )
                            } else {
                                this.$toastr.warning(response.data.message, 'Deletion failed!')
                                this.$vs.loading.close();
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                            this.$toastr.error(error, 'Error!')
                            this.$vs.loading.close();
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {

                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Deletion cancelled!',
                        'error'
                    )
                }
            })
        },
        ApproveChurch(church) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Approve!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                      this.$vs.loading();
                    axios.put('/api/church/' + church.id, {
                            id: church.id,
                            churchName: church.churchName,
                            contactNumber: church.contactNumber,
                            status: 'AUTHORIZED'
                        }, auth)
                        .then((response) => {
                            if (response.data.status) {
                                Fire.$emit('reloadChurches')
                                this.$vs.loading.close();
                                swalWithBootstrapButtons.fire(
                                    'Updated!',
                                    response.data.message,
                                    'success'
                                )

                            } else {
                                this.$toastr.warning(response.data.message, 'Update failed!')
                                this.$vs.loading.close();
                            }
                        })
                        .catch((error) => {
                            this.$toastr.error(error, 'Error!')
                            this.$vs.loading.close();
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Update cancelled!',
                        'error'
                    )
                }
            })
        }
    },
    watch: {
        '$store.state.GetAllChurches.churches': function () {
            this.churches = this.$store.state.GetAllChurches.churches
        }
    }
}
</script>

<style>
@import '/app-assets/css/bootstrap.css';

.marginClass {
    margin-right: 5px;
}
</style>
