
<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="">
         <div>
           <vs-button color="primary" class="fa fa-reply" type="flat" href="/"><span style="padding:5px;">Back to website</span></vs-button>
         </div>
          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@assets/images/pages/register.png" alt="register" class="mx-auto">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Register Your Church</h4>
                  <p></p>
                </div>

                <div>
                    <vs-input
                      name="churchName"
                      v-validate="'required'"
                      icon-no-border
                      icon="icon icon-home"
                      icon-pack="feather"
                      label-placeholder="Church Name"
                      v-model="churchName"
                      class="w-full"/>
                    <span class="text-danger text-sm"  v-show="errors.has('churchName')">{{ errors.first('churchName') }}</span>
                  <vs-input
                      name="contactNumber"
                      v-validate="'required'"
                      icon-no-border
                      icon="icon icon-phone"
                      icon-pack="feather"
                      label-placeholder="Contact Number"
                      v-model="contactNumber"
                      class="w-full"/>
                    <span class="text-danger text-sm"  v-show="errors.has('contactNumber')">{{ errors.first('contactNumber') }}</span>


                  <vs-divider></vs-divider>
                  <a href="/login"> Login</a>
                  <vs-button class="float-right" @click="Register" >Register Church</vs-button>
                   <br>
                </div>


              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
//const axios = require('axios')
export default{
  data() {
    return {
      churchName:"",
      contactNumber: "",
    }
  },
  methods: {
      ClearControls(){
        this.churchName = "";
        this.contactNumber="";

      },
     Register(){
           this.$validator.validateAll().then(result => {
        if (result) {
            this.$vs.loading();
         axios.post('/api/RegisterChurch', {
                churchName : this.churchName,
                contactNumber : this.contactNumber
            }, auth)
            .then((response) => {
              if(response.data.status){
                  // reset form fields
                  toastr.success(response.data.message, 'Created!')
                // localStorage.setItem('jwt',response.data.jwt);
                // localStorage.setItem('username',response.data.user.name);
                // localStorage.setItem('userId',response.data.user.id);
              //  window.location.href = '/dashboard'
                //this.$router.push('/').catch((err) => { console.log("Errors ", err)})
                 this.ClearControls();
                 this.$vs.loading.close();
              }
              else{
                toastr.warning(response.data.message, 'Registration Failed');
                this.$vs.loading.close();
              }
            })
            .catch(function (error) {
               toastr.error(error, 'Registration Failed');
               this.$vs.loading.close();
            });
        } else {
          // form have errors
        }
      })

     }
  }
}
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook { background-color: #1551b1 }
    .bg-twitter { background-color: #00aaff }
    .bg-google { background-color: #4285F4 }
    .bg-github { background-color: #333 }
  }
}
</style>
